@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	width: 100%;
	height: auto;
	margin: auto;
}
.wrapper1 {
	height: auto;
	width:100%;
	background: url(../image/background.png) 0 0 no-repeat;
	background-size: 100% 2306px;
}
.transparent {
	width: 100%;
	height: 400px;
	background-color: #595656;
	overflow: hidden;
	position: absolute;
	opacity: 0.5;
	margin-top:281px; 
}
@media(max-width:768px) {
.transparent {
	height: 397px;
	margin-top:246px; 
}}

@media(max-width:480px) {
.transparent {
	height: 248px;
	margin-top:199px; 
}}
@media(max-width:320px) {
.transparent {
	display: none;
}}

.content1 {
	margin: auto;
	width: 960px;
	height: auto;
	overflow: hidden;
	position: relative;
}
@media(max-width:768px) {
.content1 {width: 768px;
 }}
@media(max-width:480px) {
.content1 {width: 480px;
}}

@media(max-width:320px){
.content1 {width: 320px;
}}


.blok1 {	
	height: auto;
	width: 960px;
	overflow: hidden;
	margin-bottom:6px; 
}

.logo {
	height: auto;
	font-family: "league_gothicregular";
	margin-top: 61px;
	margin-left:2px;
	font-size: 47px;
	display: block;
	float:left;
	width: 148px;
	text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 0px;
    text-shadow: 1px 1px 2px #181819;
	font-weight:lighter;
}

@media(max-width:768px) {
.logo{
	display: block;
	float:none;
	z-index: 1;
}}

@media(max-width:480px) {
.logo{ 
	margin: 61px 158px 0px 158px;
}}
@media(max-width:320px) {
.logo{ 
	margin: 61px 158px 0px 72px;
}}


.logo__white {
	color:white;
}
.logo__white--gradient{
 color: #75199d;
         -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(150,79,130,1)), color-stop(20%, rgba(0,0,0,.5)), to(rgba(52,38,59,1)));}
}

nav {
	width: auto;
	display: block;
}
@media (max-width:768px) {
.nav{
	display: block;
 }}

.menu {
	height: auto;
	width: auto;
	display: inline-block;
	padding-left: 0px;
	margin-top:72px;
	margin-left:141px;
	margin-bottom:0px;
}

@media(max-width:768px) {
.menu {
	display: inline-block;
	margin-left:0px;
	margin-top:20px;
	margin-bottom: 0px;
}}

@media(max-width:480px) {
.menu {
	position: absolute;
	z-index: 2;
	left:108px;
	top:115px;
	border-radius: 11px;
	border: 1px solid #101a21;
    margin-top:17px;
}}
@media(max-width:320px) {
.menu {
	display: none;
}}


.menu__cell{
	float: left;
	list-style: none;
	width: 107px;
	font-size: 20px;
	text-align: center;
}
@media(max-width:768px) {
.menu__cell {
	text-align: left;
	padding-right: 46px;
	width: auto;
 }}

@media(max-width:480px) {
.menu__cell{
	display:block;
	float: none;
	height: 43px;
	display: block;
	background-color: #3c3044;
	opacity: 0.5;
	width: 245px;
	text-align: center;
	padding-right: 0px;
	border-top:1px solid #523e5a;
	border-bottom:1px solid #523e5a;
}}

.menu__cell .underline {
	text-decoration:underline;
}

.menu__cell a {
	text-decoration:none; 
	text-transform: uppercase;
	font-size: 24px;
	color: white;
    font-family: "league_gothicregular";
    width: 100%;
    display: block;
    text-shadow: 1px 1px 2px grey,
}
@media(max-width:480px) {
.menu__cell a:hover {
background-color:#29212f;
border-bottom:2px solid #edbfff;
}}

.navigatsiya {
	display: none;
	height: 256px;
	width: 245px;
	position:absolute;
	z-index: 3;
	margin-left: 32px;
	margin-top:9px; 
}
@media(max-width: 768px){
.navigatsiya {
	display: none;
}}
@media(max-width: 480px){
.navigatsiya {
	display: none;
}}

@media(max-width: 320px){
.navigatsiya {
	height: 256px;
	width: 245px;
	display: block;
	position:absolute;
	z-index: 3;
	margin-left: 32px;
	margin-top:9px; 
}}


.navig .underline320{
	text-decoration:underline; 
}


.navig {
	margin:0px;
}
.navig li{
  position: relative;
  list-style: underline;
  list-style: none;
  float: left;
  width: 150px;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  height: 38px;
  top:10px;
  left: -3px;
 }
.navig ul{
   position: absolute;
   padding-left: 0px;
   visibility: hidden;
   opacity: 0;
}
.navig li:hover ul{
  visibility: visible;
  opacity: 1;
}

.navig a {
	text-decoration:none; 
	text-transform: uppercase;
	font-size: 24px;color: white;
    font-family: "league_gothicregular";width: 100%;
}
.navig a:hover{	
}

.blok2 {
	height: auto;
	padding-top: 0px;
	margin-left:1px;
	position: relative;
	overflow: hidden;
}
.lorem{
	width: 517px;
	height: auto;
	display: block;
	padding: 0px 0px 0px 0px;
	margin:  231px 0 0 7px; 
}

@media (max-width:768px) {
.lorem{
	width:276px;
	height: 203px;
	overflow: hidden;
	margin-top: 161px;
	margin-left:23px;  
 }}

@media (max-width:480px) {
.lorem{
	width:250px;
	height: 100px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-left:32px; 
 }}
@media (max-width:320px) {
.lorem{
	margin-top:159px; 
	margin-left:43px; 
 }}

.lorem__zaglavie{
	font-family: "league_gothicregular";
	font-size: 57px;
	color: white;
	line-height:55px; 
	padding: 1px 1px 1px 1px;
	margin:  1px 1px 0px 1px; 
	text-shadow: 1px 1px 2px #181819;
	font-weight:lighter;
}
@media (max-width:768px) {
.lorem__zaglavie{
	font-size: 45px;
	overflow: hidden;
	height: 48px;
	width: 167px;
}}

@media (max-width:480px) {
.lorem__zaglavie{
	font-size: 37px;
	height: auto;
	line-height: 47px;
	width: 269px
}}
@media (max-width:320px) {
.lorem__zaglavie{
	height: 50px;
	width: 250px
}}


.lorem__podzaglavie{
	font-family: "league_gothicregular";
	color:red;
	font-size:31px;
	color: #edbfff;
	text-transform: uppercase;
	line-height: 36px;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px; 
	font-weight:lighter;
}
@media (max-width:768px) {
.lorem__podzaglavie{
	overflow: hidden;
	height:31px;
	font-size:23px;
	margin-top:4px; 
	margin-bottom:5px; 
}}
@media (max-width:480px) {
.lorem__podzaglavie{
	font-size:18px;
	line-height: 13px;
	margin-top: 0px;
}}

@media (max-width:320px) {
.lorem__podzaglavie{
	height: 13px;
	width: 217px;
	overflow: hidden;
}}
.lorem__napolnenie{
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	line-height:24px;
	padding: 0px 0px 0px 0px;
	margin:  4px 0px 0px 1px; 
	color: white;
}
@media (max-width:768px) {
.lorem__napolnenie{
	height: 102px;
	overflow: hidden;
	margin-top:8px; 
}}

@media (max-width:480px) {
.lorem__napolnenie{
	width:0px;
	height: 0px;
	overflow: hidden;
	font-size: 17px;
 }}


.iphone{
	content: " ";
	position: absolute;
	background: url(../image/telefon.png) 0px 0px  no-repeat;
	height: auto;
	width: auto;
	left:630px;
	top:133px;
	bottom:0px;
	right:26px;
}

@media (max-width:768px){
.iphone {
	content: " ";  
    position: absolute;  
   background: url(../image/telefon.png) 0px 0px  no-repeat;  
    height: auto;  
    width: auto;
   left:432px; 
   top:44px;   
 	bottom:71px;
 	right:12px;
 }}
@media (max-width:480px){
.iphone{
	content: " "; 
    position: absolute;
    background: url(../image/iphone480+.png) 0px 0px  no-repeat;
    height: auto;
    width: auto;
    left:257px;
    top:71px;   
}}

@media (max-width:320px){
.iphone{
	display: none;
}}

.radio {
	margin-top:176px;
	margin-right:162px;  
	float: right;
	margin-bottom:51px; 
	display: block;
	width: 80px;
	height: 17px;
}

@media (max-width:768px) {
.radio{
	float: right;
	margin-top:138px;
	margin-right:166px;
	margin-bottom:102px; 
}}


@media (max-width:480px) {
.radio{
	margin: 89px 201px 59px 201px;
}}

@media (max-width:320px) {
.radio{
	margin: 48px 127px 67px 205px;
}}
.radio ul {
	list-style: none;
	width: 90px;
	padding-left: 0px;
	margin: 0px;
	display: inline-block;
}
.radio ul li {
	display: inline-block;
	width: 17px;
	height: 16px;
}
.radio__button-black{
background:url(../image/black.png) 0 0 no-repeat;
}
.radio__button-black--button-white {
	background: url(../image/white.png) 0 0 no-repeat;
}

.wrapper2 {
	height: auto;
	width:100%;
	/*background:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#745083+6,745083+23,745083+38,745083+50,745083+62,322539+100 */
background: rgb(116,80,131); /* Old browsers */
background: -moz-linear-gradient(top, rgba(116,80,131,1) 6%, rgba(116,80,131,1) 23%, rgba(116,80,131,1) 38%, rgba(116,80,131,1) 50%, rgba(116,80,131,1) 62%, rgba(50,37,57,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(116,80,131,1) 6%,rgba(116,80,131,1) 23%,rgba(116,80,131,1) 38%,rgba(116,80,131,1) 50%,rgba(116,80,131,1) 62%,rgba(50,37,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(116,80,131,1) 6%,rgba(116,80,131,1) 23%,rgba(116,80,131,1) 38%,rgba(116,80,131,1) 50%,rgba(116,80,131,1) 62%,rgba(50,37,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 ); /* IE6-9 */*/
}
.content2 {
	width:960px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
@media(max-width:768px) {
.content2 {
	width: 768px;
}}
@media(max-width:480px) {
.content2 {
	width: 480px;
	padding-top:68px;
	padding-bottom: 46px;
}}
@media(max-width:320px) {
.content2 {
	width: 320px;
	padding-top:65px;
	padding-bottom: 63px;
}}


.about{
	padding: 0px 0px 0px 0px;
	margin: 80px 20px 0px 69px;
	width: 226px;
	height: auto;
	display: inline-block;
	vertical-align: top;
}
@media (max-width:768px) {
.about{
	width:156px;
	height: 233px;
	overflow: hidden;
	margin-right:44px; 
	margin-bottom: 39px;
	margin-top: 71px;
	margin-left:9px;
	padding-left: 42px; 
 }}
@media (max-width:480px) {
.about{
	display: block;
	width: 349px;
	margin-left: 14px;
	margin-bottom:18px; 
	padding: 0px 23px 0px 64px;
	height: auto;
	margin-top:0px; 
 }}

@media (max-width:320px) {
.about{
		padding: 0px 6px 5px 72px;
		width: 222px;
		margin-left: 0px; 
		overflow: hidden;
		position: relative;
		margin-bottom:11px; 
}}
.about--block1:before {
	content: " ";  
    float: left;  
    position: absolute;  
    overflow: hidden;
   background: url(../image/sprite.png) 0px 0px  no-repeat;  
    height: 30px;  
    width: 28px;
   left:20px; 
   top:88px;   
   background-position: 0px 0px;
}

@media (max-width:768px){
.about--block1:before {
   left:8px; 
   top:76px;   
}}


@media (max-width:480px){
.about--block1:before {
   left:28px; 
   top:76px;   
}}

@media (max-width:320px){
.about--block1:before {
   left:21px; 
   top:5px;   
}}


.about--block2:before {
	content: " ";  
    float: left;
    position: absolute;   
    overflow: hidden;
    background: url(../image/sprite.png) 0px 0px  no-repeat;  
    height: 30px;  
    width: 28px;
    left:350px;
    top:88px;
    background-position: -28px 0px;
}

@media (max-width:768px){
.about--block2:before {
   left:267px; 
   top:76px;   
   background-position: 0px 0px;
}}

@media (max-width:480px){
.about--block2:before {
   left:28px; 
   top:232px; 
}}
@media (max-width:320px){
.about--block2:before {
   left:21px; 
   top:5px;   
}}

.about--block3:before {
	content: " ";  
    float: left;  
    position: absolute;   
    overflow: hidden;
    background: url(../image/sprite.png) 0px 0px  no-repeat;  
    height: 30px;  
    width: 28px;
   right:265px; 
   top:88px;   
   background-position: -62px 0px
}

@media (max-width:768px){
.about--block3:before {
	right:210px; 
   top:78px;   
   background-position: 0px 0px
}}


@media (max-width:480px){
.about--block3:before {	  
 left:28px;
 top:393px;   
 }}

@media (max-width:320px){
.about--block3:before {	  
 left:21px;
 top:5px;   
   
}}

.about__zaglavie{
	font-family: "league_gothicregular";
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black;
	margin-top: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 223px;
	line-height: 33px;
	font-weight:lighter;
}

@media (max-width:768px) {
.about__zaglavie{
	font-size: 24px;
	height: 32px;
	width: 175px;
 }}

@media (max-width:480px) {
.about__zaglavie{
	height: 33px;
	text-align: left; width: 100%;
 }}


.about__napolnenie{
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 2px black;
	color:white;
	font-size: 15px;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
	height: 138px;
	width: 229px;
	line-height: 24px;
}

@media (max-width:768px) {
.about__napolnenie{
	width:173px;
	height: 141px;
	overflow: hidden;
	margin-bottom:7px;
	margin-top:-2px; 
	font-size: 17px;
 }}


@media (max-width:480px) {
.about__napolnenie{
	width:367px;
	height: 76px;
	margin-top: 0px;
	margin-bottom: 2px; 
 }}

@media (max-width:320px) {
.about__napolnenie{
	width:244px;
	margin-bottom:7px;
	height: 76px; 
 }}
.about__ssylka{
	text-decoration: none;
	color: white;
	display: block;
	text-align: right;
	text-transform: uppercase;
	font-size: 19px;
	font-family: "league_gothicregular";
	width: 61px;
	float: right;
	padding-right: 0px;
	padding: 0 0 0 0;
	margin: 0 0px 64px 0; 
}
@media (max-width:768px) {
.about__ssylka{
	height: 24px;
	margin-bottom:0px; 
}}
@media(max-width: 480px){
.about__ssylka{
	margin-left:311px;
	margin-top: 9px;
	float: none;
}}
@media(max-width: 320px){
.about__ssylka{
	margin-left:145px;
	width: 77px;
}}
.about a:hover {
	text-shadow: 0px 0px 15px white;
}
.wrapper3 {
	height: auto;
	width: 100%;
	background-color: #f9f9f9;
}
.content3 {
	height:auto;
	width: 960px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
@media(max-width:768px) {
.content3 {
	width: 768px;
 }}
@media(max-width:480px) {
.content3 {
	width: 480px;
 }}

 @media(max-width:320px) {
.content3 {
	width: 320px;
 }}
.testimonial{
	width: 475px;
	height: 404px;
	display:inline-block;
	padding: 0 0 0 0;
	margin: 0 0 8px 0;
}
@media(max-width:768px) {
.testimonial{
	width:293px;
	margin-top:87px;
	margin-left:32px;
	height: 329px;
	z-index: 1;
 }}

@media(max-width:480px) {
.testimonial{
	margin-top:69px;
	width:auto;
	margin-left: 45px;
	z-index: 2;
 }}

 @media(max-width:320px) {
.testimonial{
	margin-top:53px;
	margin-left: 18px;
	 }}

.testimonial-text{
	width:375px;
	display: block;
	position: relative;
	background-color: white;
	padding: 38px 30px 19px 30px;
	float: left;
	margin: 91px 0 0 42px;
	height: 226px;
	overflow:visible;
}
@media(max-width:768px) {
.testimonial-text{
	width:239px;
	overflow: hidden;
	height: 224px;
	margin:4px 60px 24px 0;
  overflow:visible;
	overflow:visible;
 }}

@media(max-width:480px) {
.testimonial-text{
	width:340px;
	height: auto;
	padding: 21px 30px 19px 31px;
	margin-bottom:4px; 
	margin-top:4px; 
	position: relative;
	display: block;
	float: left;
	overflow:visible;
 }}
@media(max-width:320px) {
.testimonial-text{

	margin-top:12px; 
	padding: 27px 30px 28px 31px;
	margin-left:16px; 
	margin-bottom:24px; 
}}

.testimonial-text__zaglavie{
	font-size: 28px;
	font-family: "league_gothicregular";
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px; 
	width: auto;
	padding: 0 0 0 0;
	margin: 0 0 5px 0;
	color: #454545;
	line-height: 34px;
}
@media(max-width:768px) {
.testimonial-text__zaglavie{
	font-size: 23px;
	width: 133px;
	line-height: 23px;
	padding: 0px;
	height: 52px;
}}

@media(max-width:480px) {
.testimonial-text__zaglavie{
	width: auto;
	height: 36px;
	font-size: 29px;
	line-height: 30px;
	margin: 0 0 16px 0;
}}
@media(max-width:320px) {
.testimonial-text__zaglavie{
	width: 120;
	height: 49px;
	font-size: 24px;
	line-height: 24px;
	margin-bottom:0px; 
 }}

.testimonial-text__zaglavie--pink {
	font-size: 28px;
	font-family: "league_gothicregular";
	text-transform: uppercase;
	color: #edbfff;
	padding: 0px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 160px;
	display: inline-block;
	line-height: 34px;
} 
@media(max-width:768px) {
.testimonial-text__zaglavie--pink {
	font-size: 23px;
	height: 60px;
	line-height: 23px;
 }}

@media(max-width:480px) {
.testimonial-text__zaglavie--pink {
	display: inline-block;
	width: 140px;
	height: 30px;
	font-size: 29px;
	line-height: 40px;
 }}

@media(max-width:320px) {
.testimonial-text__zaglavie--pink {
	display: block;
	width: 150px;
	font-size: 24px;
	line-height: 24px;
	color: #edbfff;
 }}
.testimonial-text__napolnenie{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding: 0 0 0 0;
	margin: 5px 0 0 0;
	width: 383px;
	color: #454545;
}


@media(max-width:768px) {
.testimonial-text__napolnenie{
	width: 257px;
	height: 141px;
	overflow: hidden;
	margin-top:7px;
	margin-top:0px;
	margin-left:0px;  
 }}


@media(max-width:480px) {
.testimonial-text__napolnenie{
	width: 377px;
	height: 201px;
	margin-top: 5px;
	line-height: 23px;
 }}
 @media(max-width:320px) {
.testimonial-text__napolnenie{
	line-height: 24px;
	margin-top: 2px;
	width: 205px;
	height: 166px;
 }}


 
.testimonial-text:before { 
	content: " ";  
    float: left;  
    position: absolute;  
   background: url(../image/client.png) 2px 2px  no-repeat;  
    height: 100px;  
    width: 100px;
    left:-35px;
    top:25px;  
 	bottom:71px;
 	right:100px;
 	width: 60px;
 }

@media(max-width:678px){
.testimonial-text:before { 
	 left:-26px; 
   	top:12px;
 }}

@media(max-width:480px){
.testimonial-text:before {
	left:-26px; 
   	top:12px;
 }}



@media(max-width:320px){
.testimonial-text:before { 
	top:18px;
 }}

 .blog {
	width:440px;
	height: 298px;
	display: inline-block;
	position: relative; 
	overflow: hidden;
	margin-left: 36px;
	padding-left: 4px;
 }
@media(max-width:768px) {
.blog{
	margin-left: 60px;
	width:333px;
}}
@media(max-width:480px) {
.blog{
	margin-left:73px;
	margin-top:19px;
	width:343px;
}}

@media(max-width:320px) {
.blog{
	margin-left:0px;
	padding-left: 8px;
	margin-top:29px;
}}


.blog__zaglavie{
	font-family: "league_gothicregular";
	font-size: 29px;
	text-transform: uppercase;
	display: block;
	margin-bottom:5px;
	margin-top:18px;  
	color:#454545;
}


@media(max-width:768px){
	.blog__zaglavie{
	margin-bottom:0px;
	margin-top:-8px;
}}


blockquote {
	margin: 0px;
}

@media(max-width:768px){
blockquote {
	margin-top: 8px;
}}

.blog__posty{	
	width: 283px;
	height:167px;
}
.blog__napolnenie{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-top:0px; 
	color:#454545;
}

@media(max-width:768px) {
.blog__napolnenie{
	width:250px;
	height: 24px;
	overflow: hidden;
	margin-top: 12px;
	margin-top:1px; 
}}


@media(max-width:480px) {
.blog__napolnenie{

	height: 21px;
	
}}

@media(max-width:320px) {
.blog__napolnenie{
	width:248px;
	height: 23px;
}}


.blog__napolnenie--bold{
	font-family: 'Passion One', cursive;
	font-weight:900;
	font-size: 19px;
	margin-bottom: 0px;
	color:#454545;
	margin-top:19px; 
}

 @media(max-width:768px) {
.blog__napolnenie--bold {
	margin-top:15px;
	margin-bottom:0px  
}}
@media(max-width:480px) {
.blog__napolnenie--bold {
	margin-top:17px;	  
}}
  @media(max-width:320px) {
.blog__napolnenie--bold {
	width: 209px;
	height: 24px;
	overflow: hidden;
}}


.blog__posty ul{
	list-style: none;
	padding-left: 0px;
	width: 440px;
}

@media(max-width:768px) {
.blog__posty ul{
	width:330px;
	margin-top: 4px;
}}



.blog__posty  li{
	height: 45px;
	padding-left: 16px
}

@media(max-width:768px) {
.blog__posty  li{
	height:52px; 
}}

@media(max-width:320px) {
.blog__posty  li{
	padding-left: 17px;
}}


.blog__posty  li:before{
	content: " ";
	float: left;  
    position: relative; 
   background: url(../image/round_bokeh_1-top.png) 2px 1px  no-repeat;  
    height: 50px;  
    width: 50px;  
    left: -16px;
    top: -7px;
}

@media(max-width:768px) {
.blog__posty  li:before{	
    left: -10px;
    top: -2px;
}}
@media(max-width:480px) {
.blog__posty  li:before{	
    left: -15px;
    top: -3px;
}}


@media(max-width:320px) {
.blog__posty  li:before{	
    left: -15px;
    top: -2px;
}}


.blog__readmore{
	float: right;
	display: inline-block;
	height: auto;
	padding: 29px 9px 16px 0;
}
@media(max-width: 480px){
.blog__readmore{
	padding-right: 3px;
	padding-top: 31px;
}}

@media(max-width: 320px){
.blog__readmore{
	padding-right: 65px;
}}

.blog__readmore a {
	text-decoration: none;
	display: inline-block;
	color:#454545;
	text-transform: uppercase;
	font-size: 19px;
	font-family: "league_gothicregular";
}

.radio--bottom{
	display: inline-block;
	width: 100px;
	height: 20px;
	margin: 23px 170px 0 0;
	padding: 0 0 0 0;
}

@media(max-width: 768px){
.radio--bottom {
	margin: 0 88px 0 0;
}}

@media(max-width: 480px){
.radio--bottom {
	margin: 0 212px 0 0;
}}
@media(max-width: 320px){
.radio--bottom {
	margin: 0 271px 0 0;
}}
.radio--bottom__button-black{
	margin:0 0 0 0;	
background:url(../image/black.png) 0 0 no-repeat;
}
.radio--bottom__button-black--button-white{
	margin: 0 0 0 0; 
	background: url(../image/white.png) 0 0 no-repeat;
}

.radio--bottom ul {
	list-style: none;
	width: 90px;
	padding-left: 0px;
	height: 30px;
	display: inline-block;
}

@media(max-width: 768px){
	.radio--bottom ul {
		margin:0 0 0 0;
}}


.radio--bottom ul li {
	display: inline-block;
	width: 19px;
	height: 16px;
	padding: 1px;
}


.logotip{
	width:100%;
	height: auto;
	display: block;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom:0px; 
	border: 1px solid #e6e6e6;
	margin-top:74px; 
}
@media(max-width:768px) {
.logotip {
	text-align: left;
	margin-top:67px;
	margin-bottom: 0px;
	width: 100%;
}}

@media(max-width:480px) {
.logotip {
	text-align: center;
	margin-top:63px;
	margin-left:0px; 
	width: 100%;
	margin-bottom: 0px;
}}

.logotip ul {
	padding-left: 0px;
	margin-top:20px; 
}
@media(max-width:768px) {
.logotip  ul {
	margin: 17px 0 24px 0;
}}


@media(max-width:480px) {
.logotip  ul {
	margin: 4px 0 31px 0;
}}

@media(max-width:320px) {
.logotip  ul {
	margin: 2px 0 75px 0;
}}

.logotip__cell {
	list-style: none;
	display: inline-block;
	padding-left: 40px;
	padding-right: 25px;
	text-align: center;
}

@media(max-width:768px) {

.logotip__cell{
	padding-left: 00px;
	padding-right: 45px;
}}

@media(max-width:480px) {
.logotip__cell{
	padding-left: 25px;
	padding-right: 29px;
	padding-top: 26px;
}}


@media(max-width:320px) {
.logotip__cell{
	padding-left: 15px;
	padding-right: 40px;
	padding-top: 45px;
}}
@media(max-width:768px){
figure{margin: 0px;
}}


@media(max-width:480px){
figure{margin: 0px;
}}

.wrapper4 {
	height: auto;
	width: 100%;
background-color:#ececec;
}
.content4 {
	margin: auto;
	height: auto;
	width: 960px;
	overflow: hidden;
	position: relative;
	padding-top: 103px;	
}

@media(max-width: 768px){
	.content4 {padding-top: 88px;
		width:768px;
}}


@media(max-width: 480px){
.content4 {
	padding-top: 75px;
	padding-bottom: 40px;
	width: 480px
}}
@media(max-width: 320px){
.content4 {
	display: none;
	width: 320px;
}}

.content4 > div:nth-of-type(4) {display: none}
.content4 > div:nth-of-type(5) {display:none;}

@media(max-width: 768px){
.content4 > div:nth-of-type(1) {display:none;}
.content4 > div:nth-of-type(2) {display:none;}
.content4 > div:nth-of-type(4) {display:inline-block;}
.content4 > div:nth-of-type(5) {display:inline-block;}
}

@media(max-width: 480px){
.content4 > div:nth-of-type(4) {display:block;}
.content4 > div:nth-of-type(5) {display:block;}
}



.pingbuller{
	width: 301px;
	height: 220px;
	display: inline-block;
	padding: 0px 0 0 0; 
	margin-top: 103px;
	margin-bottom:85px; 
	margin: 0px 0px 85px 10px;
}
.pingbuller__zaglavie{
	font-family: "league_gothicregular";
	font-size: 45px;
	color: #454545;
	text-transform: uppercase;
	margin-top:0px;
	margin-bottom:0px;
	margin: 0 0 0 0;  
	padding: 0 0 0 0;
	display: block;
	width: 300px;
	height: 65px;
	
}
.pingbuller__zaglavie--grey {
	margin: 0 0 0 0;  
	padding: 0 0 0 0;
	width: 100px;
	display: inline-block;
	height: 65px;
	color: #b9b9b9;
}
.pingbuller__copyright{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-style: italic;
	margin: 0 0 0 0;  
	padding: 0 0 0 0;
	width: 300px;
	color: #c5c5c5;
}
.pingbuller__napolnenie{
	font-family: 'Open Sans', sans-serif;
	margin-top:4px; 
	font-size: 17px;
	width: 293px;
	margin: 0 0 0 0;  
	padding: 0 0 0 0;
	color: #787878;
}

.about--news{
	width: 301px;
	height: auto;
	display: inline-block;
	padding: 0 0 0 0;
	margin-left:19px;
	margin-bottom: 65px;
	margin-top: 5px;
	margin-right:0px; 
}

@media(max-width:768px) {
.about--news{
	width: 212px;
	margin-right: 40px;
	margin-bottom:72px; 
	margin-left:0px;
}}
@media(max-width:480px) {
.about--news{
	display: block;
	height: 150px;
	width: 446px;
	margin: 0px 0 35px 13px;
}}



.about--news__zaglavie--grey {color:#454545;
	font-family: "league_gothicregular";
	font-size: 29px;
	text-transform: uppercase;
	margin: 0 0 0 0; 
	padding: 0 0 0 0; 
	width: 300px;
}


@media(max-width:768px) {
.about--news__zaglavie--grey{
	font-size: 24px;
	height: 35px;
	margin-top: 4px;
	width: 200px;
}}

@media(max-width:480px) {
.about--news__zaglavie--grey{
	height: 35px;
}}

.about--news__napolnenie {
	font-family: 'Open Sans', sans-serif;*/
	font-size: 17px;
	margin-top:4px; 
	margin-bottom:0px; 
	padding: 0px;
	width: 294px;
	line-height: 24px;
	color: #787878;
}

@media(max-width:768px) {
.about--news__napolnenie{
	width: 212px;
	height: 190px;
	overflow: hidden;
	margin: 0px;
}}

@media(max-width:480px) {
.about--news__napolnenie{
	width: 445px;
	height: 92px;
}}

.wrapper5 {
	height: auto;
	width: 100%;
	overflow: hidden;
	position: relative;
	background: url(../image/backgroundbottom.png) 0 0 no-repeat;
	background-size: 100% 114px
}
.content5 {
	margin: auto;
	width: 960px;
	height: auto;
}
@media(max-width:768px) {
.content5 {
	width: 768px;
}}
@media(max-width:480px) {
.content5 {
	width: 480px;
}}
@media(max-width:320px) {
.content5 {
	width: 320px;
}}

.menu--bottom{
	height: auto;
	width: auto;
	display: inline-block;
	padding-left: 0px;
	margin-top:38px;
	margin-left:2px;
}

@media(max-width:768px) {
.menu--bottom{
	display: block;
	margin-left:0px;
	margin-top:42px;
}}


@media(max-width:480px) {
.menu--bottom {
	left:10px;
	top:10px;
	display: block;
	margin-top:33px; 
	margin-bottom:0px; 
	border:none;
 }}



@media(max-width:320px) {
.menu--bottom {
	display: none;

 }}
.menu--bottom ul{
	display: inline-block;
	position: absolute;
	visibility: hidden;
	top: 24px;
	opacity: 0;
 }


.menu--bottom__cell{
	float: left;
	list-style: none;
   width: auto;
   padding: 2px;
   font-size: 20px;
   text-align: left;
   margin-left: 0px;
   margin-top:0px;
   padding-left: 10px;
   padding-right: 21px;
}

@media(max-width:768px) {
.menu--bottom__cell {
	text-align: left;
	padding-right: 36px;
	padding-left: 2px
 }}

@media(max-width:480px) {
.menu--bottom__cell{
	display:inline-block;
	height: 22px;
	background-color: none;
	opacity: 0.5;
	width: auto;
	text-align: center;
	top:0px;
	position: static;
	font-size: 19px;
	padding-right: 23px;
	padding-left: 4px;
	border: none;
}}



.menu--bottom__cell a {
	text-decoration:none; 
	text-transform: uppercase;
	font-size: 24px;
	color: white;
	font-family: "league_gothicregular";
	display: block;
	width: 100%;
	text-shadow: 1px 1px 2px #181819;
}
@media(max-width:768px) {
.menu--bottom__cell a{
	font-size: 20px;
}}

@media(max-width:480px) {
.menu--bottom__cell a{
	font-size: 19px;
	text-align: center;
	color: white;
}}

.prava {
	color: white;
	float: right;
	width: 148px;
	display: inline-block;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	margin-top:54px; 
	margin-bottom:52px;
	text-shadow: 1px 1px 2px #181819;
}
@media (max-width:768px){
.prava	{
	width: 178px;
	margin-top:59px; 
	margin-bottom: 85px;
	font-size: 12px;
}}

@media (max-width:480px){
.prava	{
	display: block;
	margin: auto;
	margin-top:99px;
	float: none;
	margin-bottom:40px;
}}

@media (max-width:320px){
.prava	{
	display: block;
	font-size: 12px;
	float: none;
	width: 150px;
	margin: auto;
	margin-top:39px; 
	margin-bottom:140px 
}}
.prava--bold{
	font-family: 'Passion One', cursive;
	font-size: 14px;
}}

@media (max-width:768px){
.prava--bold { 
	font-size: 14px;
}}
@media (max-width:480px){
.prava--bold { 
	font-size: 16px;
}}
@media (max-width:320px){
.prava--bold { 
	font-size: 14px;
}}