p {
	display:inline-block;
	margin-left:10px;
	opacity: 0;
	border: 2px solid grey;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,9,9,0.5);
	font-size: 13px;
	line-height: 20px;
	padding: 5px;
}
label {
	font-size: 13px;
margin-right:5px;
}
button{
	cursor: pointer;
line-height: 25px;
padding: 0 20px; 
margin: 1px;
}
button:hover {
	background-color: #c2c3c1;
}
#content {
	width: 600px;
	height: 350px;
	border: 1px solid grey;
	display: block;
	padding: 5px;
	margin: auto;
}