.checkbox{
	float:left;
	clear:both;
	margin:	6px;
	}
.check {margin:	5px;
	background-color: #8ee1ff;}

label {
	display:inline-block;
	line-height:	31px;
	font-size:		15px;
	padding-left:	1px;
	color:			black;
	text-shadow:	1px 2px 4px rgba(255,255,255, 1);
	font-family:	Arial, Helvetica, sans-serif;
	}
