body {
	width: 913px;
	height: 1311px;
	margin: 0 43px;
	font-family: Arial;
}
header {
	overflow: hidden;
	position: relative;
	background: blue;
	height: 53px;
	padding-left: 8px;
}

.telefon {
	background-color: red;
	display:inline-block;
	width: 304px;
	margin-top: 21px;
}

.telefon:before {
	content: " ";  
     float: left;  
    position: relative;  
     background: url(trubka.png) 2px 1px  no-repeat;  
     height: 25px;  
    width: 25px;  
}  

.telefon ul {
	background-color: green;
	padding: 3px;
	margin: 0px;
}

.telefon li {
	display:inline-block;
	background-color: yellow;
	color:#5e696d;
}
.telefon li {
	width: 132px;
}



.forma {
	background-color: green;
	display:inline-block;
	margin-top: 0px; height: 21px;
}

.forma ul {
	background-color: red;
	padding: 0px;
	width: 496px;
	margin: 0px;
}

.forma li {
	display:inline-block;
	background-color: yellow;
	color: black;
	height: 17px;
	font-size: 14px;
 }
.forma li a {
	color: #bfbfbf;
}
.forma input {
	width: 112px;
	background-color: green;
	font-size: 11px;
	border: none;
}
.forma:before {
	content: " ";  
    float: left;  
    position: relative;  
    background: url(chel.png) 2px 1px  no-repeat;  
    height: 25px;  
    width: 25px;  
}
.contact {
	background-color: yellow;
	display:inline-block;
	margin-left: 12px; 
}
.contact ul {
	background-color: green;
	padding: 0px;
	border: 1px solid #bdc4c7;
	border-radius: 20px;
	width: 76px;
	height: 20px;
	text-align: center;
	margin: 0px;
}
.contact li {
	display:inline-block;
	background-color: red; 
}
.contact li a {color:#bfbfbf;}

.banner {
	background-color: red;
	height: 236px;
	display: inline-block;
	clear: both;
	margin-top:2px; 
}
.podbaner{
	background-color: yellow;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	height: 31px;
margin-top:1px;
}
.menu {
	background-color: green;
	margin-left: 140px;
	display: block;
	padding-top: 4px;
	font-size: 13px;

}
.menu a {
	text-decoration: none;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	height: 25px;
	padding: 5px;
}

.menu a:hover {
	background-color: yellow;
	text-decoration: none;
	border: 2px solid red;
	border-radius: 20px;
	height: 25px;
	width: 122px;
	padding: 5px;
}

.menu ul {
	background-color: red;
	float: left;
	padding-left:0px;
	margin: 0px;
	text-align: center;

}
.menu li {
	width: 102px;
	display: inline-block;
	background-color: green;
	padding-top: 5px;
	padding-bottom: 5px;
}
.tovar {
	background-color: green;
	width: 244px;
	float: right;
	display: block;
	margin-top:1px; 
	padding-top: 2px;
}
.tovar:before {
	content: " ";  
    float: left;  
    position: relative;  
    background: url(korzina.png) 2px 1px  no-repeat;  
     height: 25px;  
    width: 25px;
}

.tovar ul{
	background-color: yellow;
	padding: 0px;	
	margin: 0px;
}
.tovar li {
	color: white;
	display: inline-block;
}
.tovar ul li span {
	background-color: green;
	font-size: 13px;
	margin-left: 4px;
}

.tovar input {
	border: none;
}
.cyfratovar {
	width:23px;
}
.cyfrasumma{
	width: 30px;
}
.content{
}
.tryformy {
	background-color: red;
	clear: both;
}
.odyn{
	height: 200px;
	width: 415px;
	height: 135px;
	background-color: blue;
	display: inline-block;
	border-radius: 15px;
}
.dva{
	height: 200px;
	width: 30%;
	background-color: green;
	display: inline-block;
	width: 193px;
	height: 135px;
	border-radius: 15px;
}	
.try{
	height: 200px;
	width: 20%;
	background-color: black;
	display: inline-block;
	width: 267px;
	height: 135px;
	border-radius: 15px;
}	
.napoln{
	overflow: hidden;
	position: relative;
	background-color: black;
}
.block-left {
	background-color: yellow;
	width: 191px;
	display: block;
	float: left;
}

.block-left a {
	text-decoration: none;
	color:#465961;
}
.block-left a:hover {
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
	color:#0c3256;
}
.katalog {}
.perechen-left{}
.shyny-left{}
.shyny-naimenovanie{}
.shyny-naimenovanie ul{
	padding-left: 33px;
}
.shyny-naimenovanie ul li{
	list-style: circle;
}	
.shyny-naimenovanie ul li a	{}

.nazva {
	width: 150px;
	line-height: 26px;
	background-color: red;
	border: 1px solid #79878d;
	border-radius: 10px;
	text-align: left;
	text-transform: uppercase;
	color:#114165;
}
.nazva:before {  
    content: " ";  
    float: left;  
    position: relative;  
   background: url(bublik.png) 2px 2px  no-repeat;  
    height: 25px;  
    width: 25px;  
}  

   
.spysok{
	width: 191px;
	line-height: 26px;
	background-color: blue;
	border: 1px solid black;
	border-radius: 10px;
	text-align: left;
	text-transform: uppercase;
}

.dysky-naimenovanie{}
.dysky-naimenovanie ul{
	padding-left: 33px;
}
.dysky-naimenovanie ul li{
	list-style: circle;
}
.dysky-naimenovanie ul li a{}
			
.bolty{}
.bolty-naimenovanie{}
.bolty-naimenovanie ul{
	padding-left: 33px;}
.bolty-naimenovanie ul li{
	list-style: circle;
}
.bolty-naimenovanie ul li a{}

.blok-center {
	background-color:red;
	width: 525px;
	display: block;
	float: left;	
}
.tovar-foto-shyna{
	float: left;
	text-align: center;
	background-color:#c7d0d4;
	margin: 1px;
	padding: 15px;
}

h2{}
.tovar-foto-shyna p{
	color:#1f2528;
	margin-top:0px;
	margin-bottom:0px;
 }
.tovar-foto-shyna span {
	color: #206988;
}


.tsena {
	font-weight: bold;
	font-style: italic;
	line-height: 14px;
}			
.tovar-foto-shyna .tsena {
	color:#114165;
}


.shynana {
	width: 137px;
	height: 130px;
	background-color: white;
	border: 1px solid #a4aeb1;
	border-radius: 8px;
}

 img {
 	
}
span{}
.block-right{
	background-color:green;
	width: 185px;
	display: block;
	float: left;
}
.brendy	{}
.perechen-right{}
.shyny-right{}
.brendy-naimenovanie{}
.brendy-naimenovanie ul{
	color:#79878d;
	padding-left: 12px;
}
.brendy-naimenovanie ul li{
	list-style: none;
}
.dysky-right{}
.dysky-naimenovanie-right{}
.dysky-naimenovanie-right ul{
	padding-left: 12px;
	color:#79878d;
}
.dysky-naimenovanie-right ul li{
	list-style: none;
}
input[type="checkbox"] {
	margin: 3px 15px 3px 4px;
	width: 8px;	
}
input[type="radio"] {} 


.vybrat{
	padding-left: 12px;
}					
.vybrat input {
	background: red;
	border: 2px solid blue;
	border-radius: 10px;
	/*width: 80px;*/
	height: 25px;
	text-transform: uppercase;
}
					
.logo {display: block;
	clear: both;
	background-color: blue;
	text-align: center;
}

.logo ul{
padding: 0px;
margin: 0px;
}
.logo ul li{
	display: inline-block;
	background-color: yellow;
}

footer{
	background-color: #213a4d;
	clear: both;
	/*padding: 20px 0px;*/
	border: 1px solid #232d3f;
	height: 100px;
	display: block;
	margin: 0 auto;
}
.onas{
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: green;
	clear: both;
}
.onas ul{
	padding: 0px;
	margin: 0px;
}
.onas ul li{
	display: inline-block;
	background-color: yellow;
	font-size: 13px;
	width: 75px;
}


			
.avtorskie-prava{
	background-color: red;
	text-align: center;
	color:#7f4740;
}
.avtorskie-prava {
	











