#button{
	height: 40px;
	width: 400px;
}
.modalgood{
	width: 400px;
	height: 250px;
	border: 1px solid black;
	position: absolute;
	top:130px;
	left:290px;
	background-color: green;
	display: none;
}


.modalbad{
	width: 400px;
	height: 250px;
	border: 1px solid black;
	position: absolute;
	top:130px;
	left:500px;
	background-color: green;
	display: none;
}

 span{
 	text-align: center;
 	font-size: 20px;
 	color: red;
 	display: block;
 	padding: 30px;
 }

 	.again{
 		width: 350px;
 		font-size: 20px;
 		display: block;margin: auto;
 	}


 input{
 	width: 20px;
 	display: inline-block;
 	}
 label {
 	width: 200px;
 	display: inline-block;
 	}
 