* {
  margin: 0;
  padding: 0; }

/*.background {
    background:url(../image/mobile/backgroundM.png)0 0 no-repeat;
    background-size:100% 540px;
}

@media screen and (min-width:768px) {
.background {
       background:url(../image/tabletka/backgroundT.png)0 0 no-repeat;
        background-size:100% 700px;
}}
@media screen and (min-width:1440px) {
.background {
      background:url(../image/desktop/backgroundD.png)0 0 no-repeat;
   background-size:100% 700px;
}}
*/
.background {
  background: url(../image/desktop/backgroundD.png) 0 0 no-repeat;
  background-position: 48% -5%; }

@media screen and (min-width: 768px) {
  .background {
    background-position: 10% 0%; } }
@media screen and (min-width: 1440px) {
  .background {
    background-position: 0% 0%;
    background-size: 100% 700px; } }
.content {
  width: 100%;
  overflow: hidden;
  margin: auto; }

@media screen and (min-width: 768px) {
  .content {
    width: 100%; } }
@media screen and (min-width: 1440px) {
  .content {
    width: 950px; } }
header {
  height: 540px;
  width: 100%; }

@media screen and (min-width: 768px) {
  header {
    height: 700px; } }
@media screen and (min-width: 1440px) {
  header {
    height: 700px;
    overflow: hidden;
    position: relative; } }
.enter {
  display: block;
  padding-bottom: 115px;
  /*margin-bottom:115px;*/
  margin: auto; }

@media screen and (min-width: 768px) {
  .enter {
    float: right;
    overflow: hidden;
    display: inline-block; } }
.enter__log_in, .enter__sign_up {
  border: none;
  background: transparent;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  margin: 20px 0 0 58px;
  width: 90px;
  line-height: 30px; }

@media screen and (min-width: 768px) {
  .enter__log_in, .enter__sign_up {
    margin: 40px 0 0 0px;
    width: 73px;
    overflow: hidden; } }
.enter__sign_up {
  border-radius: 50px;
  border: 2px solid #ffffff;
  margin: 21px 0 0 -6px;
  width: 90px; }

@media screen and (min-width: 768px) {
  .enter__sign_up {
    margin: 39px 50px 0 0px; } }
@media screen and (min-width: 1440px) {
  .enter__sign_up {
    margin: 39px 10px 0 0px;
    overflow: hidden;
    position: relative; } }
.logo, .logo-nav {
  display: block;
  width: 200px;
  /*  margin:0 0 27px 74px;*/
  margin: auto;
  padding: 0 0 27px 0;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px; }

@media screen and (min-width: 768px) {
  .logo, .logo-nav {
    float: left;
    display: inline-block;
    /* margin:46px 0 144px 49px;*/
    padding: 46px 0 144px 0;
    width: 450px; } }
@media screen and (min-width: 1440px) {
  .logo, .logo-nav {
    padding: 46px 0 115px 0px;
    width: 320px; } }
.title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 7px 0;
  /*  margin:0 0 7px 4px;*/
  margin: auto;
  clear: both; }

@media screen and (min-width: 768px) {
  .title {
    padding: 0 0 22px 0;
    /*margin:0 0 22px 132px;*/
    font-size: 52px;
    width: 502px; } }
@media screen and (min-width: 1440px) {
  .title {
    padding: 213px 0 22px 0;
    /*  margin:213px 0 22px 222px;*/ } }
.subtitle {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 215px;
  padding: 0 0 14px 0px;
  margin: auto;
  /*  margin:0 0 14px 48px;*/ }

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 24px;
    width: 403px;
    padding: 0 0 32px 0; } }
@media screen and (min-width: 1440px) {
  .subtitle {
    padding: 0 0 32px 0; } }
.find_partner {
  color: #ffffff;
  border: transparent;
  border-radius: 50px;
  background: #ff4e50;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  width: 278px;
  /*margin: 0 0 0 20px;*/
  margin: auto;
  display: block; }

@media screen and (min-width: 768px) {
  .find_partner {
    padding: 0 0 0 0;
    /*margin: 0 0 0 269px;*/
    width: 225px; } }
@media screen and (min-width: 1440px) {
  .find_partner {
    /*margin: 0 0 0 359px;*/ } }
#wrapper1 {
  height: auto;
  overflow: hidden; }

.how-works, .meet-partners, .discover, .discover2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
  margin: 34px 0 2px 0px;
  text-align: center; }

@media screen and (min-width: 768px) {
  .how-works, .meet-partners, .discover, .discover2 {
    margin: 94px 0 20px 0px; } }
.carousel ul {
  width: 299px;
  height: 2402px; }
  .carousel ul li {
    width: 299px;
    height: 240px;
    display: inline-block; }

@media screen and (min-width: 768px) {
  .carousel ul {
    width: 328px;
    height: 402px; }
    .carousel ul li {
      width: 328px;
      height: 402px;
      display: inline-block; } }
@media screen and (min-width: 1440px) {
  .carousel ul {
    height: 400px;
    margin: 0 0 0 0; }
    .carousel ul li {
      height: 400px;
      display: inline-block; } }
.block-text {
  width: 220px;
  height: 174px;
  position: absolute;
  display: block;
  top: 71px;
  left: 19px; }
  .block-text span {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    width: 70px;
    line-height: 20px;
    border-radius: 50px;
    background-color: #ff4e50;
    text-align: center;
    margin: 0 0 14px 0; }
  .block-text h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin: 0 0 11px 0; }
  .block-text p {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #ffffff;
    width: 230px;
    margin: 0 0 10px 0; }

@media screen and (min-width: 768px) {
  .block-text {
    top: 227px;
    left: 11px; }
    .block-text span {
      margin: 0 0 5px 0; }
    .block-text p {
      width: 219px; } }
#wrapper2 {
  height: auto;
  /*height:1091px;*/
  text-align: center; }

@media screen and (min-width: 768px) {
  #wrapper2 {
    /*height:725px;*/ } }
@media screen and (min-width: 1440px) {
  #wrapper2 {
    /* height:467px;*/ } }
.persons {
  width: 237px;
  margin: auto;
  overflow: hidden; }

@media screen and (min-width: 768px) {
  .persons {
    width: 500px;
    padding: 0; } }
@media screen and (min-width: 1440px) {
  .persons {
    width: 950px;
    padding: 0 0 9px 0;
    /*    margin: 0 0 9px -32px;*/ } }
.partner {
  display: block;
  width: 237px;
  height: auto;
  text-align: center;
  /*margin:0px 0 23px 27px;*/
  margin: auto;
  float: left;
  padding: 0 0 23px 0px; }

 /*
@media screen and (min-width:768px) {
.partner{

/*  margin:0px 25px 23px 19px;
padding:0 0 23px 0px;

}}*/
/*@media screen and (min-width:1440px){
 .partner{
  margin:0px 4px 23px 17px;
  padding:0px 0px 23px 0px;
}}*/
.meet-partners {
  padding: 34px 0 14px 0px;
  /*width: 264px;*/
  /* margin: 34px 0 14px 24px;*/
  margin: auto; }

@media screen and (min-width: 768px) {
  .meet-partners {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #333333;
    /* margin: 34px 0 2px 0px;*/
    text-align: center;
    /* width: 466px;*/
    /* margin: 34px 0 31px 148px;*/
    padding: 34px 0 31px 0px; } }
@media screen and (min-width: 1440px) {
  .meet-partners {
    /*margin: 34px 0 31px 237px;*/
    padding: 34px 0 31px 0; } }
.partner__sprite--sprite1, .partner__sprite--sprite2, .partner__sprite--sprite3, .partner__sprite--sprite4 {
  content: " ";
  float: left;
  position: relative;
  background: url(../image/sprite.png) 0px 0px no-repeat;
  height: 38px;
  width: 40px;
  left: 159px;
  top: 84px;
  bottom: 71px;
  right: 10px;
  z-index: 2;
  background-position: 0px 0px; }

.partner__sprite--sprite2 {
  left: 156px;
  background-position: -38px 0px; }

.partner__sprite--sprite3 {
  height: 39px;
  width: 40px;
  left: 156px;
  background-position: -79px 0px; }

.partner__sprite--sprite4 {
  height: 40px;
  width: 42px;
  left: 154px;
  background-position: -119px 0px; }

.partner__sprite--sprite1:hover, .partner__sprite--sprite2:hover, .partner__sprite--sprite3:hover, .partner__sprite--sprite4:hover {
  background-position: 0px -43px; }

.partner__sprite--sprite2:hover {
  background-position: -38px -43px; }

.partner__sprite--sprite3:hover {
  background-position: -79px -42px; }

.partner__sprite--sprite:hover {
  background-position: -119px -43px; }

.partner__name, .contacts, .Partnerstitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  margin: 11px 0 9px 46px; }

.partner__about, nav ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #333333;
  /*  margin-left:10px;*/
  display: block;
  width: 200px;
  margin: auto; }

#other-button {
  width: 280px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #ff4e50;
  border-radius: 50px;
  color: #ff4e50;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: 11px; }

@media screen and (min-width: 768px) {
  #other-button {
    width: 192px;
    margin: 44px 0 0 0; } }
@media screen and (min-width: 1440px) {
  #other-button {
    width: 195px;
    margin: auto;
    display: block; } }
#wrapper3 {
  /*height:1000px;	*/
  height: auto; }

@media screen and (min-width: 768px) {
  #wrapper3 {
    /*height:1126px;*/ } }
@media screen and (min-width: 1440px) {
  #wrapper3 {
    width: 950px; } }
#wrapper4 {
  height: 234px; }

@media screen and (min-width: 768px) {
  #wrapper4 {
    height: 259px; } }
@media screen and (min-width: 1440px) {
  #wrapper4 {
    width: 950px; } }
nav {
  height: 200px; }

@media screen and (min-width: 768px) {
  nav {
    padding: 37px 0 0 0; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-item {
  width: 300px;
  height: 121px;
  margin: 5px 5px 5px 5px;
  display: block;
  border-radius: 5px; }

@media screen and (min-width: 768px) {
  .grid-item {
    width: 236px;
    height: 309px;
    margin: 3px 5px 20px 12px; } }
@media screen and (min-width: 1440px) {
  .grid-item {
    width: 300px;
    height: 309px;
    margin: 9px 5px 9px 10px; } }
.grid-item--width2 {
  width: 300px;
  height: 120px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px; }

@media screen and (min-width: 768px) {
  .grid-item--width2 {
    width: 487px;
    height: 309px;
    margin: 3px 5px 20px 12px; } }
@media screen and (min-width: 1440px) {
  .grid-item--width2 {
    width: 610px;
    height: 309px;
    margin: 9px 5px 9px 10px; } }
.grid-item__text {
  color: #ffffff;
  text-align: center;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-top: 118px; }

.discover, .discover2 {
  margin-top: 0;
  margin-bottom: 4px; }

@media screen and (min-width: 768px) {
  .discover, .discover2 {
    margin-bottom: 32px; } }
.discover2 {
  margin: 0 0 11px 0; }

@media screen and (min-width: 768px) {
  .discover2 {
    margin: 0 0 29px 0; } }
.interests {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  /*  margin: 0 0 17px 20px;*/
  padding: 0 0 17px 0;
  margin: auto;
  display: block;
  width: 300px; }

@media screen and (min-width: 768px) {
  .interests {
    text-align: center;
    padding: 0 0 37px 0; } }
.search {
  text-align: center;
  width: 310px;
  /* margin: 0 0 0 18px;*/
  margin: auto; }

@media screen and (min-width: 768px) {
  .search {
    text-align: center;
    /*margin: 0 0 0 5px;*/
    width: 760px; } }
.search__poletext {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  width: 280px;
  height: 37px;
  margin: 0 0 11px 0; }

@media screen and (min-width: 768px) {
  .search__poletext {
    display: inline-block;
    width: 243px; } }
@media screen and (min-width: 1440px) {
  .search__poletext {
    margin: 0 0 0 174px; } }
#search__poleotpravka {
  width: 280px;
  height: 40px;
  background-color: #ff4e50;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px; }

@media screen and (min-width: 768px) {
  #search__poleotpravka {
    display: inline-block;
    width: 163px; } }
.logo-nav {
  color: #ff4e50;
  font-size: 16px;
  width: 139px;
  /*margin:19px 0 11px 90px;*/
  padding: 19px 0 11px 0px;
  margin: auto; }

@media screen and (min-width: 768px) {
  .logo-nav {
    display: block;
    float: left;
    /*margin:0 0 0 40px;*/ } }
@media screen and (min-width: 1440px) {
  .logo-nav {
    /*  margin:0 0 0 0;*/ } }
.menu {
  /*width:320px;*/
  text-align: center;
  margin: 0 0 0 0; }

@media screen and (min-width: 768px) {
  .menu {
    display: block;
    width: 120px;
    text-align: left;
    float: left;
    margin: 0 0 0 25px; } }
.content-bottom {
  height: 201px;
  /*width: 320px;*/
  border-top: 2px solid #ff4e50; }

@media screen and (min-width: 768px) {
  .content-bottom {
    /* width: 768px;*/ } }
@media screen and (min-width: 1440px) {
  .content-bottom {
    /* width: 1440px;*/ } }
nav {
  margin: auto; }
  nav ul {
    margin-bottom: 12px; }
    nav ul li {
      display: inline-block;
      width: 51px; }
      nav ul li a {
        text-decoration: none; }

@media screen and (min-width: 768px) {
  nav {
    width: 768px; }
    nav ul {
      margin-bottom: 12px;
      width: 120px; }
      nav ul li {
        display: block;
        width: 100px; }
        nav ul li a {
          display: block;
          line-height: 23px; } }
@media screen and (min-width: 1440px) {
  nav {
    width: 950px; } }
.contacts {
  width: 100px;
  margin: auto; }

@media screen and (min-width: 768px) {
  .contacts {
    display: inline-block;
    width: 100px;
    margin: 0 0 11px 0; } }
.Partnerstitle {
  margin: auto;
  width: 65px; }

@media screen and (min-width: 768px) {
  .Partnerstitle {
    display: block;
    float: left;
    height: 100px;
    margin: 0 122px 0 51px; } }
.desighn_by {
  padding: 32px 0 0 0;
  margin: auto;
  /*margin:32px 0 0 105px;*/
  display: block;
  /*float:left;*/
  width: 116px; }

@media screen and (min-width: 768px) {
  .desighn_by {
    padding: 4px 0 0 0;
    /*margin:4px 0 0 0;*/
    display: inline-block; } }
@media screen and (min-width: 1440px) {
  .desighn_by {
    float: right; } }

/*# sourceMappingURL=style.css.map */
