$color-blue: #248cec;
$color-yellow: #f4b60d;
$color-grey: #2a2d32;
$color-white: white;
$font-nav:  'Ubuntu Condensed', sans-serif;
$font-title: 'Ubuntu', sans-serif;
$font-article: 'Ubuntu', sans-serif;

*{
	margin: 0;
	padding: 0;
}
.content1{
	overflow:hidden;
	position:relative;
}
header{
	overflow:hidden;
	position:relative;
}
.logo {
	float:left;
}
.logo__title {
	color: $color-grey;
	font-family: $font-title;
	font-size: 22px;
}
.logo__subtitle{
	font-family: $font-nav;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 10px;
	color: $color-grey;
}
.socialnetwork{
		ul{
			float:right;
			}
		li{
			height:50px;
			float:left;
			list-style: none;
		}
		a{
			display:block;
		}
}

nav {
	position:relative;
	height:55px;
	background-color:$color-grey;
}
.menu {
		float:left;

		ul{}
		li{
			display:inline-block;
			list-style: none;
			width: 126px;
			border: 2px solid black;
		}
		a{
			display:block;
			background-color: $color-grey;
			color:$color-white;
			font-family: $font-nav;
			font-size: 11px;
			text-transform: uppercase;
			text-decoration: none;
			text-align:center;
			line-height: 51px;
			cursor:pointer;
		}
		a:hover{color:$color-yellow;}
}
#forma {
	float:right;
	height:40px;
	width:200px;
	background-color:rgba(0,0,0,0);
	border:2px solid black;
}

.slider {
	width:1000px;
	height:40px;
}