<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shablonizator</title>
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<link rel="stylesheet" href=".//css/shablonizator.css">
	<script src=".//js/template.js"></script>
	
</head>
<body>
	<script type="text/template" id="blok">
	<% for (var i = 0; i < data.length; i++) { %>
	<div class="blok-content">
	<h2><%= data[i].title %></h2>
	<ul><li><%= data[i].content %></li>
	<li><%= data[i].more %></li></ul>
	</div>
	<% } %>
	</script>

	<script type="text/template" id="napolnenie">
	<% for (var i = 0; i < data.length; i++) { %>
	<li><%= data[i].text %></li>
	<% } %>
	</script>

<script src=".//js/shablonizator.js"></script>
</body>
</html>