
 .content {
 	display: block;
 	float: left;
 	margin: 10px;
 	border: 2px solid blue;
 }
 .nazva
 p {
 	font-size: 20px;
 	text-align: center;
 }
span {
	font-size: 18px;
}
 .towns {
 	background-color: blue;
 	width: 300px;
 	border: 1px solid black;
 }

label {font-size: 20px;}
