  *{margin:0;
  	padding: 0;}
  .menu{
    	height: 500px;
  }
.menu li {
	display: inline-block;
background-color: blue;
width: 200px;
}
.submenu{position: absolute;

	top:20px;
	left: 60px;
	z-index: 1}
.submenu li {
	display: block;
	width: 100px;
	background-color: green;
}
.sub2{position: absolute;
		top:38px;
	left: 100px;
	z-index: 2}

.sub2 li {
	display: block;
/*	width: 100px;*/
	background-color: yellow;
	
		}
.sub3 {position: absolute;
	overflow: hidden;
	top:38px;
	left: 101px;
	z-index: 3}}
.sub3 li {
	display: block;
	width: 100px;
	background-color: grey;
}
.s {
width: 200px;
	background-color: yellow;}
