 #wrapper{
 	width: 590px;
 	height: 350px;
 	border: 1px solid #f37506;
 }
  
#content {
	width: 570px;
 	height: auto;
 	border: 1px solid #f37506;
 	border-radius: 3px;
 	margin: 10px 10px 140px 10px;
 	background-color: #f5d495;
 }

ul {
	background-color: #ed9a50;
	margin: 5px;
	border-radius: 3px;
}
.t3.tab-current {background-color: #f5c467;}	

.t2.tab-current {background-color: #f5c467;}	

.t1.tab-current {background-color: #f5c467;}



.tabs li {
	display:inline-block;
	text-decoration: none;
	width: 140px;
	background-color: #e77107;
 	border-radius: 3px;
 	margin: 2px 4px 0px 4px;
 	cursor: default;
 	text-align: center;
 	line-height: 30px;
 }
li:hover {
	background-color: #ec8b36;
}
p {
	width:540px;
	padding: 5px 10px;
}


 div {}
div .t1 {}

div.t2,div.t3 {display: none;}






