$color-blue: #248cec;
$color-yellow: #f4b60d;
$color-fongrey: #2a2d32;
$color-white: white;
$light-grey: #9e9e9e;
$font-nav:  'Ubuntu Condensed', sans-serif;
$font-title: 'Ubuntu', sans-serif;
$font-article: 'Ubuntu', sans-serif;


*{
	margin: 0;
	padding: 0;
}
.content1{
	overflow:hidden;
	position:relative;
	width:1160px;
	margin:auto;
}
header{
	overflow:hidden;
	position:relative;
}
.logo {
	float:left;
	margin: 24px 0px 31px 50px;

}
.logo:before {
content: " ";  
    float: left;  
    position: absolute;  
    overflow: hidden;
   background: url(../image/params.png)no-repeat;  
    height: 40px;  
    width: 50px;
   left:0px; 
   top:28px;   
   background-position: 0px 0px;
}


.logo__title {
	color: $light-grey;
	font-family: $font-title;
	font-size: 30px;
}
.logo__subtitle{
	font-family: $font-nav;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 11px;
	color: $color-fongrey;
}

.socialnetwork .twitter{
	background-position: -32px 0px;
}

.socialnetwork .twitter:hover{
	background-position: -32px -32px;
}
.socialnetwork .rss{
	background-position: -64px 0px;
}

.socialnetwork .rss:hover{
	background-position: -64px -32px;
}


.socialnetwork .linkedin{
	background-position: -96px 0px;
}
.socialnetwork .linkedin:hover{
	background-position: -96px -32px;
}

.socialnetwork .skype{
	background-position: -128px 0px;
}
.socialnetwork .skype:hover{
	background-position: -128px -32px;
}

.socialnetwork{
margin-top:30px;
		ul{
			float:right;
			}
		li{
			
			float:left;
			list-style: none;
		}
		a{
			display:block;
			height: 30px;
			width: 32px;
			background: url(../image/spr.png) 0 0 no-repeat;
		}
		a:hover{background-position: 0 -32px}
}


nav {
	position:relative;
	height:55px;
	background-color:$color-fongrey;
}
.menu {
		float:left;
		margin-bottom: 37px;

		ul{}
		li{
			display:inline-block;
			list-style: none;
			width: 126px;
			border: 2px solid black;
		}
		a{
			display:block;
			background-color: $color-fongrey;
			color:$color-white;
			font-family: $font-nav;
			font-size: 11px;
			text-transform: uppercase;
			text-decoration: none;
			text-align:center;
			line-height: 51px;
			cursor:pointer;
		}
		a:hover{color:$color-yellow;}
}
#forma {
	float:right;
	height:40px;
	width:200px;
	background-color:rgba(0,0,0,0);
	border:2px solid black;
}
.contentslider {margin-bottom: 83px}
.slider {
	width:1200px;
	height:584px;
margin:auto;

}

.cont1block{
	display:inline-block;
	height:163px;
	width:380px;
	padding-bottom:9px;


}
.cont1block__number{
	display:block;
	float:left;
}

.cont1block__article {
	display:block;
	float:left;
	width:239px;
padding-left:30px;

}
.cont1block__title--icon1 {
	padding-top:44px;
	padding-bottom:16px;
}
.cont1block__title--icon2 {
	@extend .cont1block__title--icon1;
}

.cont1block__title--icon3 {
	@extend .cont1block__title--icon1;
}

.cont1block__title--icon1:before {
	content: " ";  
    float: left;  
    position: absolute;  
    overflow: hidden;
   background: url(../image/settings.png)no-repeat;  
    height: 40px;  
    width: 50px;
   left:97px; 
   top:738px;   
   background-position: 0px 0px;
}

.cont1block__title--icon2:before {
	@extend .cont1block__title--icon1:before;
	 background: url(../image/params.png)no-repeat;  
    left:530px; 
}

.cont1block__title--icon3:before {
	@extend .cont1block__title--icon1:before;
	 background: url(../image/settings.png)no-repeat;  
    left:824px; 
}
.cont1block__text{padding-bottom:0px;
color:$light-grey;}

.cont1block__readmore--srelka1:hover{
	color: $color-blue;

}
.cont1block__readmore--srelka2:hover{
	@extend .cont1block__readmore--srelka1:hover;
}
.cont1block__readmore--srelka3:hover{
	@extend .cont1block__readmore--srelka1:hover;
}
.cont1block__readmore--srelka1:after{
	@extend .cont1block__title--icon1:before;
	background: url(../image/strelochka.png)no-repeat;  
    left:1034px; 
    top: 340px; 
}

.cont1block__readmore--srelka2:after{
	@extend .cont1block__readmore--srelka1:after;
	background: url(../image/strelochka.png)no-repeat; 
	 left:607px;  
}
.cont1block__readmore--srelka3:after{
	@extend .cont1block__readmore--srelka1:after;
	background: url(../image/strelochka.png)no-repeat; 
    left:200px;  
}


.content2{
	@extend .content1;
	height:500px;
	background-color: $color-fongrey;
}


.servis {
	padding-top:50px;
	font-size:25px;
	color: $color-white;
	margin-bottom:45px;
}
.picture {
	display:block;
	float:left;
	width:290px;
	height:300px;
	text-align:center;
}
 img:hover {color: $color-blue;

 }
 img:hover + span {
		color: $color-yellow;}

.picture__caption{
	display:block;
	padding-bottom:50px;
	font-size:18px;
	color: $color-white;
}


.content3 {
	@extend .content1;
	height:540px;
	background-color: #f7f7f7;
}

.cont3block1 {
	width:600px;
	float:left;
	padding-right:0px;
}


.todaynews {
	width:565px;
}
.Latestnews{
	display:inline-block;
	padding:64px 0px 45px 0px;
	font-size:24px;
}
.image-for-news__jan23 {
	display: inline-block;
	width:170px;
}
.image-for-news__jan21{
	display: inline-block;
	width:170px;
}
.news {
	display:inline-block;
	width:376px;
	padding-left:11px;
}

.news__text{color: $light-grey;}
.news__title{color:$color-fongrey;}
.news__subtitle{color: $light-grey;}
.cont3block2{
	@extend .cont3block1;
	width:500px;
}

.bannersplace {
	@extend .Latestnews
}
.accordion__title{
	display:block;
	width:501px;
	height:40px;
	font-family:$font-title;
	text-transform:uppercase;
 background: url(../image/plus.png) $color-white no-repeat;
 padding-left:20px;
}

.active{
	 background: url(../image/minus.png) $color-yellow no-repeat;
}

.accordion__text{
	width:500px;
	padding:20px;
	color:$light-grey;
	display:none;
}

.content4 {
	@extend .content1;
	height:240px;
}

.menulogo{
	padding:90px 0px;
	li{
		display:inline-block;
		list-style: none;
		width:170px;
		text-align: center;
	}
}


.content5 {
	@extend .content1;
	height:290px;
	background-color: $color-fongrey;
	padding:50px  0px 0px 0px;
}
.content6 {
	@extend .content1;
	height:60px;
	background-color: #35383c;
	padding:0px;
}


.about{
	width:280px;
	float:left;
}

.about__title{
	padding-bottom:50px;
	font-family:$font-title;
	text-transform:uppercase;
	color:$color-white;
}
.about__menu{
	li{list-style:none;
		width:250px;
		height: 36px;
		}
		a{color: $light-grey;
			text-decoration: none;
		}
		a:hover{color: $color-blue;}
}

.address {
	display:inline-block;
	padding-right:20px;
	color: $light-grey;
	padding-left:20px;
	
}
.address:before {
@extend .cont1block__title--icon1:before; 
	 height: 25px;  
    width: 25px;
   left:5px; 
   top:2px;  
    background: url(../image/location.png)no-repeat;  

}
.telephon {@extend .address; }
.telephon:before {
@extend .cont1block__title--icon1:before; 
   left:350px; 
    background: url(../image/phone.png)no-repeat;  
}


.mail{@extend .address; }
.mail:before {
@extend .cont1block__title--icon1:before; 
	left:519px; 
    background: url(../image/mail.png)no-repeat;  
}


.copyright{@extend .address;
float:right; }
