* {
  margin: 0;
  padding: 0; }

.content1, .content2, .content3, .content4, .content5, .content6 {
  overflow: hidden;
  position: relative;
  width: 1160px;
  margin: auto; }

header {
  overflow: hidden;
  position: relative; }

.logo {
  float: left;
  margin: 24px 0px 31px 50px; }

.logo:before {
  content: " ";
  float: left;
  position: absolute;
  overflow: hidden;
  background: url(../image/params.png) no-repeat;
  height: 40px;
  width: 50px;
  left: 0px;
  top: 28px;
  background-position: 0px 0px; }

.logo__title {
  color: #9e9e9e;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px; }

.logo__subtitle {
  font-family: "Ubuntu Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 11px;
  color: #2a2d32; }

.socialnetwork .twitter {
  background-position: -32px 0px; }

.socialnetwork .twitter:hover {
  background-position: -32px -32px; }

.socialnetwork .rss {
  background-position: -64px 0px; }

.socialnetwork .rss:hover {
  background-position: -64px -32px; }

.socialnetwork .linkedin {
  background-position: -96px 0px; }

.socialnetwork .linkedin:hover {
  background-position: -96px -32px; }

.socialnetwork .skype {
  background-position: -128px 0px; }

.socialnetwork .skype:hover {
  background-position: -128px -32px; }

.socialnetwork {
  margin-top: 30px; }
  .socialnetwork ul {
    float: right; }
  .socialnetwork li {
    float: left;
    list-style: none; }
  .socialnetwork a {
    display: block;
    height: 30px;
    width: 32px;
    background: url(../image/spr.png) 0 0 no-repeat; }
  .socialnetwork a:hover {
    background-position: 0 -32px; }

nav {
  position: relative;
  height: 55px;
  background-color: #2a2d32; }

.menu {
  float: left;
  margin-bottom: 37px; }
  .menu li {
    display: inline-block;
    list-style: none;
    width: 126px;
    border: 2px solid black; }
  .menu a {
    display: block;
    background-color: #2a2d32;
    color: white;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 51px;
    cursor: pointer; }
  .menu a:hover {
    color: #f4b60d; }

#forma {
  float: right;
  height: 40px;
  width: 200px;
  background-color: transparent;
  border: 2px solid black; }

.contentslider {
  margin-bottom: 83px; }

.slider {
  width: 1200px;
  height: 584px;
  margin: auto; }

.cont1block {
  display: inline-block;
  height: 163px;
  width: 380px;
  padding-bottom: 9px; }

.cont1block__number {
  display: block;
  float: left; }

.cont1block__article {
  display: block;
  float: left;
  width: 239px;
  padding-left: 30px; }

.cont1block__title--icon1, .cont1block__title--icon2, .cont1block__title--icon3 {
  padding-top: 44px;
  padding-bottom: 16px; }

.cont1block__title--icon1:before, .cont1block__title--icon2:before, .cont1block__title--icon3:before, .cont1block__readmore--srelka1:after, .cont1block__readmore--srelka2:after, .cont1block__readmore--srelka3:after, .address:before, .telephon:before, .mail:before, .copyright:before {
  content: " ";
  float: left;
  position: absolute;
  overflow: hidden;
  background: url(../image/settings.png) no-repeat;
  height: 40px;
  width: 50px;
  left: 97px;
  top: 738px;
  background-position: 0px 0px; }

.cont1block__title--icon2:before {
  background: url(../image/params.png) no-repeat;
  left: 530px; }

.cont1block__title--icon3:before {
  background: url(../image/settings.png) no-repeat;
  left: 824px; }

.cont1block__text {
  padding-bottom: 0px;
  color: #9e9e9e; }

.cont1block__readmore--srelka1:hover, .cont1block__readmore--srelka2:hover, .cont1block__readmore--srelka3:hover {
  color: #248cec; }

.cont1block__readmore--srelka1:after, .cont1block__readmore--srelka2:after, .cont1block__readmore--srelka3:after {
  background: url(../image/strelochka.png) no-repeat;
  left: 1034px;
  top: 340px; }

.cont1block__readmore--srelka2:after {
  background: url(../image/strelochka.png) no-repeat;
  left: 607px; }

.cont1block__readmore--srelka3:after {
  background: url(../image/strelochka.png) no-repeat;
  left: 200px; }

.content2 {
  height: 500px;
  background-color: #2a2d32; }

.servis {
  padding-top: 50px;
  font-size: 25px;
  color: white;
  margin-bottom: 45px; }

.picture {
  display: block;
  float: left;
  width: 290px;
  height: 300px;
  text-align: center; }

.picture__foto {
  padding: 0px 10px 25px 0px; }

.picture__caption {
  display: block;
  padding-bottom: 50px;
  font-size: 18px;
  color: white; }

.picture__caption:hover {
  color: #f4b60d; }

.content3 {
  height: 540px;
  background-color: #f7f7f7; }

.cont3block1, .cont3block2 {
  width: 600px;
  float: left;
  padding-right: 0px; }

.todaynews {
  width: 565px; }

.Latestnews, .bannersplace {
  display: inline-block;
  padding: 64px 0px 45px 0px;
  font-size: 24px; }

.image-for-news__jan23 {
  display: inline-block;
  width: 170px; }

.image-for-news__jan21 {
  display: inline-block;
  width: 170px; }

.news {
  display: inline-block;
  width: 376px;
  padding-left: 11px; }

.news__text {
  color: #9e9e9e; }

.news__title {
  color: #2a2d32; }

.news__subtitle {
  color: #9e9e9e; }

.cont3block2 {
  width: 500px; }

.accordion__title--1, .accordion__title--2, .accordion__title--3, .accordion__title--4 {
  background-color: white;
  display: block;
  width: 501px;
  height: 40px;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase; }

.first:before, .second:before, .third:before, .fourth:before {
  content: " ";
  float: left;
  position: absolute;
  overflow: hidden;
  background: url(../image/plus.png) no-repeat;
  height: 13px;
  width: 13px;
  left: 580px;
  top: 131px;
  background-position: 0px 0px; }

.second:before {
  top: 200px; }

.third:before {
  top: 250px; }

.fourth:before {
  top: 300px; }

.accordion__title--1:hover, .accordion__title--2:hover, .accordion__title--3:hover, .accordion__title--4:hover {
  background-color: #f4b60d; }

.accordion__title--2:hover {
  background-color: #f4b60d; }

.accordion__title--3:hover {
  background-color: #f4b60d; }

.accordion__title--4:hover {
  background-color: #f4b60d; }

.accordion__text--1, .accordion__text--2, .accordion__text--3, .accordion__text--4 {
  width: 500px;
  padding: 20px;
  display: none;
  color: #9e9e9e; }

.content4 {
  height: 240px; }

.menulogo {
  padding: 90px 0px; }
  .menulogo li {
    display: inline-block;
    list-style: none;
    width: 170px;
    text-align: center; }

.content5 {
  height: 290px;
  background-color: #2a2d32;
  padding: 50px  0px 0px 0px; }

.content6 {
  height: 60px;
  background-color: #35383c;
  padding: 0px; }

.about {
  width: 280px;
  float: left; }

.about__title {
  padding-bottom: 50px;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: white; }

.about__menu li {
  list-style: none;
  width: 250px;
  height: 36px; }
.about__menu a {
  color: #9e9e9e;
  text-decoration: none; }
.about__menu a:hover {
  color: #248cec; }

.address, .telephon, .mail, .copyright {
  display: inline-block;
  padding-right: 20px;
  color: #9e9e9e;
  padding-left: 20px; }

.address:before, .telephon:before, .mail:before, .copyright:before {
  height: 25px;
  width: 25px;
  left: 5px;
  top: 2px;
  background: url(../image/location.png) no-repeat; }

.telephon:before {
  left: 350px;
  background: url(../image/phone.png) no-repeat; }

.mail:before {
  left: 519px;
  background: url(../image/mail.png) no-repeat; }

.copyright {
  float: right; }

/*# sourceMappingURL=lesson%2019-20.css.map */
