#button{height: 40px;
width: 300px}
.modal-good {width: 400px;
height: 250px;
border: 1px solid black;

}
.modal-bad{width: 400px;
height: 250px;
border: 1px solid black;

}

 span{text-align: center;
 	font-size: 20px;
 	color: red;
 	display: block;
 	padding: 30px
 }

 	.again{width: 350px;
 		font-size: 20px;
 	display: block;
 	margin: auto}

 	 
 input{
 	width: 20px;
 	display: block;
 	}
 label {
 	width: 200px;
 	display: inline-block;
 	}
 