*{
	margin: 0;
	padding: 0;
}
body{
	background-color: red;
}
.content{margin: auto;
	width: 620px;
}

img{height: 150px;
margin: auto;
display: block;}

h1 {text-align: center;
margin: 15px;}

h3{margin: 20px 0px;}

.why ul {margin-top: 15px }
.why li{margin-left: 40px;}

.blok ul{padding-left: 40px; }