
.check{
  padding: 2px;
background-color: #8ee1ff;
}
label{
  line-height: 25px;
}
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; 
  padding: 0 0 0 10px;
}
.checkbox:not(checked) + label:before {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 60px;
  width: 18px;
  height: 18px;
  background: url(.//img/of.png);
}

.checkbox:checked + label:before {
   content: '';
  position: absolute;
  top: 0px;
  left:60px;
  width: 18px;
  height: 18px;
   background: url(.//img/on.png);
}