
@font-face {
    font-family: 'league_gothicregular';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	width: 100%;
	height: auto;
	margin: auto;
}
.wrapper1 {
	height: auto;
	width:100%;
	background: url(background.png) 0 0 no-repeat;
}
.transparent {
	width: 100%;
	height: 400px;
	background-color: #595656;
	overflow: hidden;
	position: absolute;
	opacity: 0.5;
	margin-top:281px; 
}

.content1 {
	margin: auto;
	width: 960px;
	height: auto;
	overflow: hidden;
	position: relative;
}
@media(max-width:768px) {
.content1 {width: 768px;
background-color: red; }}
@media(max-width:480px) {
.content1 {width: 480px;
background-color: yellow;}}

@media(max-width:320px){
.content1 {width: 320px;
background-color: yellow; }}
/*.strelochka-left {
	content: " ";
	position: absolute;
	background: url(navi_arrow_left.png) 2px 2px  no-repeat;
	left:111px; top:360px;
 	width: 100%;
 	height: 60px;
}
.strelochka-right {
	content: " ";
	position: absolute;
	background: url(navi_arrow_right.png) 2px 2px  no-repeat;
	left:1466px; top:320px;
 	width: 100%;
 	height: 60px;
}
*/
.blok1 {
	/*background-color: blue;*/
	height: auto;
	width: 960px;
overflow: hidden;
	/*position: relative;*/
}

.logo {
	height: auto;
	font-family: "league_gothicregular";
	margin-top: 61px;
	margin-left:2px;
	font-size: 47px;
	display: block;
	float:left;
	width: 148px;
	background-color:blue;
	text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 0px;
}

@media(max-width:768px) {
.logo{
	display: block;
	float:none;
	z-index: 1;
	}}

@media(max-width:480px) {
.logo{ 
	margin: 61px 158px 0px 158px;
	}}
@media(max-width:320px) {
.logo{ 
	margin: 61px 158px 0px 72px;
	}}



.logo__white {
	color:white;
}
 .logo__white--gradient{
 color: #75199d;
         -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(150,79,130,1)), color-stop(20%, rgba(0,0,0,.5)), to(rgba(52,38,59,1)));}
}




nav {
	width: auto;
	display: block;
}
@media (max-width:768px) {
.nav{
	display: block;
 }}

.menu {
	height: auto;
	width: auto;
	display: inline-block;
	/*background-color: green;*/
	padding-left: 0px;
	margin-top:68px;
	margin-left:141px;  }

@media(max-width:768px) {
.menu {
	display: inline-block;
	margin-left:0px;
	margin-top:17px;
	margin-bottom: 0px;
}}

@media(max-width:480px) {
.menu {position: absolute;
       z-index: 2;
       left:108px; 
       top:115px;
       border-radius: 11px;
       border: 1px solid black;
}}
@media(max-width:320px) {
.menu {display: none;
}}



/*.menu ul{
	position: absolute;
	visibility: hidden;
	top: 24px;
	opacity: 0;
 }


*/

.menu__cell{
	float: left;
	list-style: none;
	width: 105px;
	padding: 2px;
	font-size: 20px;
	border:1px solid red;
	text-align: center;
}
@media(max-width:768px) {
.menu__cell {
	text-align: left;
	padding: 3px;
 }}

@media(max-width:480px) {
.menu__cell{
	display:block;
	float: none;
	height: 35px;
	display: block;
	background-color: #3f3247;
	 opacity: 0.5;
	width: 245px;
	text-align: center;
	
 }}



@media(max-width:480px) {
.menu__cell:hover{
	border-bottom: 2px solid green;
}}

.menu__cell a {
	text-decoration:none; 
	text-transform: uppercase;
	font-size: 24px;color: white;
    font-family: "league_gothicregular";width: 100%;
}
.menu__cell a:hover{
	background-color: red;
}

@media(max-width:480px) {
.menu__cell a:hover{
	background-color: blue;
	border-bottom: 2px solid yellow;
	padding: 0 5px 3px 5px;
}}




.navigatsiya {
	display: none;
	height: 256px;
	width: 245px;
	position:absolute;
	z-index: 3;
	margin-left: 32px;
	margin-top:9px; 
}
@media(max-width: 768px){
.navigatsiya {
	display: none;
}}
@media(max-width: 480px){
.navigatsiya {
	display: none;
}}


@media(max-width: 320px){
.navigatsiya {
	height: 256px;
	width: 245px;
	display: block;
	position:absolute;
	z-index: 3;
	margin-left: 32px;
	margin-top:9px; 
}}

.navig {margin:0px;}
.navig li{
  position: relative;
  list-style: underline;
  list-style: none;
	float: left;
	width: 150px;
	padding: 2px;
	font-size: 20px;
	border:1px solid red;
	text-align: center;
height: 38px;
top:10px;
left: -3px;
  }
.navig ul{
   position: absolute;
padding-left: 0px;
  visibility: hidden;
  opacity: 0;
   
}
.navig li:hover ul{
  visibility: visible;
  opacity: 1;
  border-bottom: 2px solid green;
}


.navig a {
	text-decoration:none; 
	text-transform: uppercase;
	font-size: 24px;color: white;
    font-family: "league_gothicregular";width: 100%;
}
.navig a:hover{
	background-color: red;
}



















.blok2 {
	background-color: green;
	height: auto;
	padding-top: 0px;
	margin-left:1px;
	position: relative;
	overflow: hidden;
}
.parent{
	width: 517px;
	background-color: yellow;
	height: auto;
	display: block;
	padding: 0px 0px 0px 0px;
	margin:  231px 0 0 7px; 
}

@media (max-width:768px) {
.parent{
	background-color: red;
	width:276px;
	height: 203px;
	overflow: hidden;
	margin-top: 161px;
	margin-left:23px;  
 }}

@media (max-width:480px) {
.parent{
	width:250px;
	height: 100px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-left:32px; 
 }}
@media (max-width:320px) {
.parent{
	background-color: blue;
	margin-top:164px; 
 }}

.parent__zaglavie{
	font-family: "league_gothicregular";
	font-size: 57px;
	color: black;
	line-height:55px; 
	padding: 1px 1px 1px 1px;
	margin:  1px 1px 0px 1px; 
}
@media (max-width:768px) {
.parent__zaglavie{
	font-size: 45px;
	overflow: hidden;
	height: 48px;
	width: 166px;
}}

@media (max-width:480px) {
.parent__zaglavie{
	font-size: 37px;
	height: auto;
	line-height: 53px;
	width: 269px
}}
@media (max-width:320px) {
.parent__zaglavie{
	height: 50px;
	width: 250px
}}



/*.blok2:before {
	content: " ";
	position: absolute;
	background: url(navi_arrow_left.png) 2px 2px  no-repeat;
	left:239px; top:214px;
 	bottom:71px; right:100px;
 	width: 60px;
 	height: 60px;
}

.blok2:after {
	content: " ";
	position: absolute;
	background: url(navi_arrow_right.png) 2px 2px  no-repeat;
	left:1407px; top:214px;
 	bottom:71px; right:100px;
 	width: 60px;
 	height: 60px;
}*/




.parent__podzaglavie{
	font-family: "league_gothicregular";
	color:red;
	font-size:31px;
	color: #edbfff;
	text-transform: uppercase;
	line-height: 36px;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px; 
}
@media (max-width:768px) {
.parent__podzaglavie{
	overflow: hidden;
	height:31px;
	font-size:23px;
	margin-top:4px; 
	margin-bottom:5px; 
}}
@media (max-width:480px) {
.parent__podzaglavie{
	font-size:18px;
	line-height: 13px;
	margin-top: 0px;
}}

@media (max-width:320px) {
.parent__podzaglavie{
	height: 13px;
	width: 217px;
	overflow: hidden;
}}
/*@media (max-width:768px) {
.lorem-podzaglavie{
	overflow: hidden;
}}*/
.parent__napolnenie{
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	line-height:24px;
	padding: 0px 0px 0px 0px;
	margin:  4px 0px 0px 1px; 
}
@media (max-width:768px) {
.parent__napolnenie{
	height: 102px;
	overflow: hidden;
	margin-top:8px; 
}}


@media (max-width:480px) {
.parent__napolnenie{
	width:0px;
	height: 0px;
	overflow: hidden;
	font-size: 17px;
 }}


.iphone{content: " ";  
       position: absolute;  
   background: url(telefon.png) 0px 0px  no-repeat;  
    height: auto;  
    width: auto;
   left:630px; 
   top:133px;   
 	bottom:0px;
 	right:26px;
 	}

@media (max-width:768px){
.iphone {content: " ";  
    position: absolute;  
   background: url(telefon.png) 0px 0px  no-repeat;  
    height: auto;  
    width: auto;
   left:432px; 
   top:44px;   
 	bottom:71px;
 	right:12px;
 	}}
@media (max-width:480px){
.iphone{content: " ";  
       position: absolute;
       background: url(iphone480+.png) 0px 0px  no-repeat;
       height: auto;
       width: auto;
       left:257px;
       top:71px;   
}}


.radio {
	margin-top:176px;
	margin-right:162px;  
	float: right;
	margin-bottom:62px; 
	display: block;
	width: 80px;
	height: 17px;
	
}

@media (max-width:768px) {
.radio{
	float: right;
	margin-top:138px;
	margin-right:166px;
	margin-bottom:102px; 
}}


@media (max-width:480px) {
.radio{
	margin: 89px 201px 59px 201px;
}}


.radio ul {
	list-style: none;
	width: 90px;
	padding-left: 0px;
	margin: 0px;
	display: inline-block;
}
.radio ul li {
	display: inline-block;
	width: 17px;
	height: 16px;
}
.radio__button-black{
background:url(black.png) 0 0 no-repeat;
}
.radio__button-black--button-white {
	background: url(white.png) 0 0 no-repeat;
}

.wrapper2 {
	height: auto;
	width:100%;
	/*background:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#745083+6,745083+23,745083+38,745083+50,745083+62,322539+100 */
background: rgb(116,80,131); /* Old browsers */
background: -moz-linear-gradient(top, rgba(116,80,131,1) 6%, rgba(116,80,131,1) 23%, rgba(116,80,131,1) 38%, rgba(116,80,131,1) 50%, rgba(116,80,131,1) 62%, rgba(50,37,57,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(116,80,131,1) 6%,rgba(116,80,131,1) 23%,rgba(116,80,131,1) 38%,rgba(116,80,131,1) 50%,rgba(116,80,131,1) 62%,rgba(50,37,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(116,80,131,1) 6%,rgba(116,80,131,1) 23%,rgba(116,80,131,1) 38%,rgba(116,80,131,1) 50%,rgba(116,80,131,1) 62%,rgba(50,37,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 ); /* IE6-9 */*/
}
.content2 {
	width:960px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
@media(max-width:768px) {
.content2 {width: 768px;
background-color: blue; }}
@media(max-width:480px) {
.content2 {width: 480px;
background-color: red;
padding-top:71px;
padding-bottom: 68px;  }}


.parent--about{
	padding: 0px 2px 0px 75px;
	margin: 68px 0px 0px 0px;
	background-color:red;
	width: 239px;
	height: auto;
	display: inline-block;
}
@media (max-width:768px) {
.parent--about{
	width:156px;
	background-color: green;
	height: 233px;
	overflow: hidden;
	margin-right:12px; 
	margin-bottom: 35px;
 }}
@media (max-width:480px) {
.parent--about{
	display: block;
	width: 100%;
	margin-left: 14px;
	margin-bottom:0px; 
	padding: 0px 23px 5px 64px;
	height: auto;
	margin-top:10px; 
 }}



.parent--about__zaglavie{
	font-family: "league_gothicregular";
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black;
	margin-top: 0px;
	margin-bottom:0px; 
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 250px;
}

@media (max-width:768px) {
.parent--about__zaglavie{
	font-size: 24px;
	height: 40px;
	width: 175px;
 }}

@media (max-width:480px) {
.parent--about__zaglavie{
	height: 33px;
 }}

.parent--about__napolnenie{
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 2px black;
	color:white;
	font-size: 15px;
	background-color: black;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 144px;
	width: 250px
}

@media (max-width:768px) {
.parent--about__napolnenie{
	width:173px;
	background-color: green;
	height: 141px;
	overflow: hidden;
	margin-bottom:7px;
	margin-top:-2px; 
	font-size: 17px;
 }}


@media (max-width:480px) {
.parent--about__napolnenie{
	width:382px;
	height: 78px;
	margin-top: 0px;
	margin-bottom: 2px; 
 }}


.parent--about__ssylka{
	text-decoration: none;
	color: white;
	display: block;
	text-align: right;
	text-transform: uppercase;
	font-size: 19px;
	font-family: "league_gothicregular";
	width: 59px;
	float: right;
	padding-right: 0px;
	padding: 0 0 0 0;
	margin: 0 0 64px 0; 
}
@media (max-width:768px) {
.parent--about__ssylka{
		height: 24px;
		margin-bottom:0px; 
 }}





@media(max-width: 480px){
.parent--about__ssylka{
	margin-left:311px;
	float: none;
}}

.parent--about__ssylka a:hover {
	background-color: none;
	text-shadow: 0px 0px 15px white;
}



.wrapper3 {
	height: auto;
	width: 100%;
	background-color: blue;
}
.content3 {
	height:auto;
	width: 960px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
@media(max-width:768px) {
.content3 {
	width: 768px;
background-color: green;
 }}
@media(max-width:480px) {
.content3 {
	width: 480px;
background-color: grey;
 }}
.testimonial{
	width: 475px;
	height: 404px;
	background-color: green;
	/*padding: 89px 39px 39px 25px;*/
	display:inline-block;
/*	margin: auto;*/
padding: 0 0 0 0;
	margin: 0 0 0 0;
}
@media(max-width:768px) {
.testimonial{
	width:293px;
	margin-top:87px;
	margin-left:25px; 
height: 329px;
z-index: 1;
 }}

@media(max-width:480px) {
.testimonial{
	margin-top:68px;
	width:auto;
	margin-left: 20px;
	z-index: 2;
 }}
.parent--testimonial{
	width:375px;
	display: block;
	position: relative;
	background-color: yellow;
	padding: 38px 30px 19px 30px;
	float: left;
	margin: 91px 0 0 42px;
	height: 226px;
}
@media(max-width:768px) {
.parent--testimonial{
	width:239px;
	overflow: hidden;
	height: 224px;
	/*padding: 38px 34px 19px 38px;*/
	margin-bottom: 24px;
	margin-right: 60px;
	margin-top: 4px;
	margin-left:0px;  

 }}

@media(max-width:480px) {
.parent--testimonial{
	width:340px;
	height: auto;
	padding: 21px 30px 19px 31px;
	margin-bottom:4px; 
	margin-top:4px; 
	position: relative;
	display: block;
	float: left;
 }}


.parent--testimonial__zaglavie{
	font-size: 28px;
	font-family: "league_gothicregular";
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px; 
	width: auto;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
@media(max-width:768px) {
.parent--testimonial__zaglavie{
	font-size: 23px;
	width: 133px;
	line-height: 25px;
	padding: 0px;
	height: 60px;
 }}

@media(max-width:480px) {
.parent--testimonial__zaglavie{
	width: auto;
	height: 36px;
	font-size: 29px;
	line-height: 30px;
 }}



.parent--testimonial__zaglavie--pink {
	font-size: 28px;
	font-family: "league_gothicregular";
	text-transform: uppercase;
	color:black;
	padding: 0px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 160px;
	display: inline-block;
} 
@media(max-width:768px) {
.parent--testimonial__zaglavie--pink {
	font-size: 23px;
	height: 60px;
 }}

@media(max-width:480px) {
.parent--testimonial__zaglavie--pink {
	display: inline-block;
	width: 140px;
	height: 30px;
	font-size: 29px;
	line-height: 40px;
 }}



.parent--testimonial__napolnenie{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 0 0;
	margin: 11 0 0 0;
	width: 383px;
	margin-top:0px; 
}


@media(max-width:768px) {
.parent--testimonial__napolnenie{
	width: 257px;
	height: 141px;
	overflow: hidden;
	margin-top:7px;
	margin-top:0px;
	margin-left:0px;  
 }}


@media(max-width:480px) {
.parent--testimonial__napolnenie{
	width: 367px;
	height: 201px;
	margin-top: 15px; 
	line-height: 20px;
 }}


.parent--testimonial:before { 
	content: " ";  
    float: left;  
    position: absolute;  
   background: url(client.png) 2px 2px  no-repeat;  
    height: 100px;  
    width: 100px;
   left:-26px; 
   top:35px;   
 	bottom:71px;
 	right:100px;
 	width: 60px;}

/*@media(max-width:480px){
.parent--testimonial:before { 
	left:-33px; 
   top:15px;   
 	}}*/

@media(max-width:480px){
.parent--testimonial:before { 
	content: " ";  
    float: left;  
    position: absolute;  
    z-index: 3;
   background: url(client.png) 2px 2px  no-repeat;  
    height: 100px;  
    width: 100px;
   left:-26px; 
   top:35px;   
 	bottom:71px;
 	right:100px;
 	width: 60px;}}



 .blog {
	width:417px;
	height: 298px;
	background-color: red;
	display: inline-block;
	position: relative; 
	overflow: hidden;
	/*margin: auto;*/
	padding-left: 52px;
 }
@media(max-width:768px) {
.blog{
	margin-left: 23px;
	width:333px;
}}
@media(max-width:480px) {
.blog{
	margin-left:23px;
	margin-top:19px;
	width:343px;
}}


.blog__zaglavie{
	font-family: "league_gothicregular";
	font-size: 29px;
	text-transform: uppercase;
	display: block;
	margin-bottom:15px;
	margin-top:0px  
}


@media(max-width:768px){
	.blog__zaglavie{margin-bottom:0px;} 
}


blockquote {
	margin-left: 0px;
}

@media(max-width:768px){
blockquote {
	margin-top: 8px;
}}

.blog__posty{	
	width: 283px;
	height:167px;
}
.blog__posty__napolnenie{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-top:0px; 
}

@media(max-width:768px) {
.blog__posty__napolnenie{
	width:250px;
	height: 26px;
	overflow: hidden;
	margin-top: 12px;
	margin-top:1px; 
	}}

.blog__posty__napolnenie--bold{
	font-family: 'Passion One', cursive;
	font-weight:900;
	font-size: 19px;
	margin-bottom: 0px; 
	background-color: yellow;
}

 @media(max-width:768px) {
.blog__posty__napolnenie--bold {
	margin-top:15px;
	margin-bottom:0px  
}}
 

.blog__posty ul{
	list-style: none;
	padding-left: 0px;
	width: 440px;
	background-color: grey;
}

@media(max-width:768px) {
.blog__posty ul{
	width:330px;
	margin-top: 4px;
}}

.blog__posty  li{
	height: 45px;
}

@media(max-width:768px) {
.blog__posty  li{
	height:52px; 
}}

.blog__posty__napolnenie--bold:before{
	content: " ";
	float: left;  
    position: relative;  
   background: url(round_bokeh_1-top.png) 2px 1px  no-repeat;  
    height: 50px;  
    width: 70px;  
}
.blog__posty__readmore{
	float: right;
		display: inline-block;
	height: auto;
	padding-top: 13px;
	padding-bottom: 16px;
	padding-right: 9px;
}
@media(max-width: 480px){
.blog__posty__readmore{
	padding-right: 3px;
}}

.blog__posty__readmore a {
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 19px;
	font-family: "league_gothicregular";
	/*width: 90px;*/
	background-color: green;
}

.radio--bottom{
	display: inline-block;
	width: 100px;
	height: 20px;
	margin: 23px 170px 0 0;
	padding: 0 0 0 0;
}

@media(max-width: 768px){
.radio--bottom {
	margin: 0 82px 0 0;
}}

@media(max-width: 480px){
.radio--bottom {
	margin: 0 212px 0 0;
}}


.radio--bottom__button-black{
	margin:0 0 0 0 ;
	
background:url(black.png) 0 0 no-repeat;
}
.radio--bottom__button-black--button-white{
	margin: 0 0 0 0; 
	background: url(white.png) 0 0 no-repeat;
}

.radio--bottom ul {
	list-style: none;
	width: 90px;
	padding-left: 0px;
	height: 30px;
	display: inline-block;
}

@media(max-width: 768px){
	.radio--bottom ul {margin:0 0 0 0;}
}


.radio--bottom ul li {
	display: inline-block;
	width: 19px;
	height: 16px;
	padding: 1px;
}


.logotip{
	width:960px;
	height: auto;
	background-color: green;
	display: block;
	text-align: center;
	/*margin: auto;*/
	margin-top:82px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom:0px; 
	border: 1px solid grey;
}
@media(max-width:768px) {
.logotip {
	text-align: left;
	margin-top:72px;
	margin-bottom: 12px;
	width: 100%;
}}

@media(max-width:480px) {
.logotip {
	text-align: center;
	margin-top:63px;
	margin-left:0px; 
	width: 100%;
	margin-bottom: 0px;
}}





.logotip ul {
	padding-left: 0px;
}

@media(max-width:480px) {
.logotip  ul {
		margin: 10px 0 31px 0;
}}

/*.logotip ul li {
	list-style: none;
	display: inline-block;
	padding-left: 40px;
	padding-right: 25px;
	background-color: yellow;
	text-align: center;
}*/

.logotip__cell {
	list-style: none;
	display: inline-block;
	padding-left: 40px;
	padding-right: 25px;
	background-color: yellow;
	text-align: center;
}

@media(max-width:768px) {

.logotip__cell{
	padding-left: 00px;
	padding-right: 45px;
	background-color: red;
	}}

@media(max-width:480px) {

.logotip__cell{
	padding-left: 15px;
	padding-right: 40px;
	padding-top: 26px;
}}




@media(max-width:480px){
figure{margin: 0px;}}

.wrapper4 {
	height: auto;
	width: 100%;
}
.content4 {
	margin: auto;
	height: auto;
	width: 960px;
	overflow: hidden;
	position: relative;
	padding-top: 103px;
}

@media(max-width: 768px){
	.content4 {padding-top: 99px;
}}


@media(max-width: 480px){
.content4 {
	padding-top: 78px;
	padding-bottom: 40px;
}}

.content4 > div:nth-of-type(4) {display: none}
.content4 > div:nth-of-type(5) {display:none;}

@media(max-width: 768px){
.content4 > div:nth-of-type(1) {display:none;}
.content4 > div:nth-of-type(2) {display:none;}
.content4 > div:nth-of-type(4) {display:inline-block;}
.content4 > div:nth-of-type(5) {display:inline-block;}
}

@media(max-width: 480px){
.content4 > div:nth-of-type(4) {display:block;}
.content4 > div:nth-of-type(5) {display:block;}
}

.parent--pingbuller{
	width: 301px;
	height: 220px;
	display: inline-block;
	padding: 0px 0 0 0; 
	margin-top: 103px;
	margin-bottom:85px; 
	margin: 0px 10px 85px 10px;
}
/*@media(max-width: 480px){
.parent--pingbuller{
	display: block;
	height: 150px;
	width: 300px;
}}*/

.parent--pingbuller__zaglavie{
	font-family: "league_gothicregular";
	font-size: 45px;
	color: black;
	text-transform: uppercase;
	margin-top:0px;
	margin-bottom:0px;
	margin: 0 0 0 0;  
	padding: 0 0 0 0;
	display: block;
	width: 300px;
	height: 65px;
	/*padding: 2px 10px 5px 4px;*/
}
.parent--pingbuller__zaglavie--pink {
	background-color: green;
	margin: 0 0 0 0;  
	padding: 0 0 0 0;
	width: 100px;
	display: inline-block;
	height: 65px;
}



.parent--pingbuller__copyright{
	margin-top: 0px;
	margin-bottom: 0px;
	/*padding-top: 9px;*/
	font-size: 18px;
	font-style: italic;
	/*padding: 9px 0px 0px 2px;*/
	margin: 0 0 0 0;  
	padding: 0 0 0 0;
	width: 300px;
}
.parent--pingbuller__napolnenie{
	font-family: 'Open Sans', sans-serif;
	margin-top:4px; 
	font-size: 17px;
	width: 293px;
	/*margin-bottom:60px; 
padding: 2px 10px 5px 2px;*/
	margin: 0 0 0 0;  
	padding: 0 0 0 0;
}

.parent--news{
	background-color:green;
	width: 301px;
	height: auto;
	display: inline-block;
	padding: 0 0 0 0;
	margin-left:5px;
	margin-bottom: 65px;
	margin-top: 0px;
}

@media(max-width:768px) {
.parent--news{
	width: 212px;
	margin-right: 40px;
}}
@media(max-width:480px) {
.parent--news{
	display: block;
	height: 150px;
	width: 446px;
	margin: 0px 0 35px 13px;
}}


.parent--news__zaglavie{
	font-family: "league_gothicregular";
	font-size: 29px;
	color: white;
	text-transform: uppercase;
	/*margin-top:0px;
	margin-bottom:0px;*/
	margin: 0 0 0 0; 
	padding: 0 0 0 0; 
	width: 300px;
}

@media(max-width:768px) {
.parent--news__zaglavie{
	font-size: 24px;
	height: 40px;
	margin: 0px;
	width: 200px;
}}

@media(max-width:480px) {
.parent--news__zaglavie{
	height: 35px;
}}



.parent--news__napolnenie {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	margin-top:4px; 
	margin-bottom:0px; 
	padding: 0px;
	width: 300px;
}

@media(max-width:768px) {
.parent--news__napolnenie{
	width: 212px;
	height: 190px;
	overflow: hidden;
	background-color: green;
	margin: 0px;
	}}

@media(max-width:480px) {
.parent--news__napolnenie{
	width: 445px;
	height: 92px;
}}

.wrapper5 {
	height: auto;
	width: 100%;
	overflow: hidden;
	position: relative;
	background: url(backgroundbottom.png) 0 0 no-repeat;
}
.content5 {
	margin: auto;
	width: 960px;
	height: auto;
}
@media(max-width:768px) {
.content5 {
	width: 768px;
background-color: yellow;
}}
@media(max-width:480px) {
.content5 {
	width: 480px;
background-color: blue;
}}


.menu--bottom{
	height: auto;
	width: auto;
	display: inline-block;
	background-color: green;
	padding-left: 0px;
	margin-top:38px;
	margin-left:2px;
}

@media(max-width:768px) {
.menu--bottom{
	display: block;
	margin-left:0px;
	margin-top:36px;
}}


@media(max-width:480px) {
.menu--bottom {
	position: absolute;
	z-index: 2;
	left:10px;
	top:10px;
	right: 10px;
	bottom:10px;
	border-radius: 11px;
	border: 1px solid black;
	display: inline-block;
	margin-top:28px; 
 }}

.menu--bottom ul{
 display: inline-block;
   position: absolute;
  visibility: hidden;
  top: 24px;
  opacity: 0;
 }


.menu--bottom__cell{
	float: left;
	list-style: none;
   width: auto;
   padding: 2px;
   font-size: 20px;
   border:1px solid red;
   text-align: left;
   margin-left: 0px;
   margin-top:0px;
   padding-left: 10px;
   padding-right: 21px;
}

@media(max-width:768px) {
.menu--bottom__cell {
	text-align: left;
	padding: 3px;
 }}

@media(max-width:480px) {
.menu--bottom__cell{
	display:inline-block;
	height: 35px;
	background-color: #3f3247;
	opacity: 0.5;
	width: auto;
	text-align: center;
	top:0px;
	position: static;
	font-size: 19px;
	padding-right: 20px;
	padding-left: 4px;
}}

.menu--bottom__cell a {
	text-decoration:none; 
	text-transform: uppercase;
	font-size: 24px;color: white;
	font-family: "league_gothicregular";width: 100%;
}


@media(max-width:480px) {
.menu--bottom__cell a{
	font-size: 19px;
}}



.menu--bottom__cell a:hover{
	background-color: red;
}

@media(max-width:480px) {
.menu--bottom__cell a:hover{
	background-color: blue;

}}

.prava {
	color: white;
	float: right;
	width: 178px;
	display: inline-block;
	background-color: green;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	margin-top:38px; 
}
@media (max-width:768px){
.prava	{
	width: 178px;
	margin-top:63px; 
	font-size: 14px;
}}


.prava--bold{
	font-family: 'Passion One', cursive;
	font-size: 10px;
}

}
@media (max-width:768px){
.prava--bold { 
	font-size: 14px;
}}