body {
	margin: 34px 300px;
	padding-right: 96px;
	font-family: 'Open Sans', sans-serif;
}

.nazva{
	font-size: 50px;
	display: inline-block;
margin-bottom:10px;  
}

.nazva a {color: #303030;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

.first ul{
	list-style:outside none none;
	background-color: #4a4a4a;
	padding: 0px;
	margin-top: 17px;

}

.first li {
	padding: 7px 6px 9px 0px;
	display: inline-block;
}

.first li a {
	padding: 7px 55px 8px 24px;
	text-decoration: none;
	color: white;
	font-size: 15px;
}
	
.first a:hover {
	background: #2d2d2b;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

.second {
	width: 238px;
	float: left;
	display: inline-block;
	margin-right:62px; 
}

.second ul {
	list-style:outside none none;
	margin-top: 24px;
	padding-left: 0px;
}

.second li {
	display: inline-block;
	display: block;
	padding: 7px 60px 6px 22px;
	border: 1px solid #b8b4b4;
	margin-bottom:-1px; 
	height: 26px;
}

.second li a {
	text-decoration: none;
	color:#656363;
	font-size: 13px;
}
.second li a:hover {
	width: 400px;
	padding:  0px 0 7px 14px;
	color: #2c2c2c;
}
.third {
	width: 645px;
	display: inline-block;
	margin-top: 20px;
	margin-left:20px;

}

.third .third-foto {
	display: inline-block;
	border: 1px solid #b8b4b4;
	padding: 47px 167px 40px 87px;
	width: 421px;
	float: right;
	margin-top: 4px;
	margin-right:0px; 
}

.third .third-napys {
	display: inline-block;
	padding-left: 0px;
	width: 625px;
	margin-top:21px; 
	font-size: 13px;
	font-family: 'Open Sans', sans-serif; 
	line-height: 21px;
}

.fourth {
	margin-top:44px;

}

.fourth ul{
	list-style:outside none none;
	background-color: #e1e1e1;
	padding-left:0px; 
}

.fourth li{
	display: inline-block;
	padding: 8px 48px 10px 24px;
}

.fourth li a{
	padding: 8px 20px 10px 0px;
	text-decoration: none;
	color:#2c2c2c;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.fourth li a:hover{text-decoration: underline;}
.fourth .prava {
	float:right;
	font-size: 13px;
	padding: 13px 28px 10px 20px;
}