*{
	margin: 0;
	padding: 0;
}

.content{
	margin: auto;
	width: 620px;
	height: 900px;
	background-color: white;
	padding: 20px;
	border: 1px solid black;
}

img{
	height: 150px;
	margin: auto;
	display: block;
}

h1 {
	text-align: center;
margin: 15px;
}

h2{
	margin: 20px 0px;
}

li {
	font-size: 20px;
font-weight: bold;
}
.why ul {
	margin-top: 15px;
 }
.why li{
	margin-left: 40px;
	font-size: 20px;
	font-weight: bold;
}

.blok-content ul{
	padding-left: 40px;
}