<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Exam</title>
<!--[if IE 8]><link rel="stylesheet" href="style/style-ie.css"><![endif]-->
<!--[if IE 8]><script src="http://code.jquery.com/jquery-1.11.3.min.js"></script><![endif]-->
<!--[if IE 8]><script src="js/masonry.pkgd.min.js"></script><![endif]-->

<!--[if IE 8]>	<script src="js/jquery.bxslider.min.js"></script><![endif]-->
<!--[if IE 8]>	<link href="style/jquery.bxslider.css" rel="stylesheet" /><![endif]-->
<!--[if IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.js"></script><![endif]-->
<!--[if IE 8]><script src="js/picturefill.min.js"></script><![endif]-->
<!--[if IE 8]><script src="js/template.js"></script><![endif]-->
<!--[if IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<!--[if IE 8]><script src="js/jsforie.js"></script><![endif]-->


	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="shablon">
<script type="text/html" id = "zapros">
		<div class="grid">
			<% for (var i =0; i<images.length; i++) { %>
				<div class="grid-item 
				<% if ((i===4)||(i===5)){%>
					grid-item--width2  
					<%}%>" style = "background: url(<%=images[i].imageurl%>) center no-repeat; background-size:cover">
					<span class="grid-item__text"><%=images[i].word%></span>
				</div>
					
			<%}; %></div>
	</script>

</div>
	<section class="content">
		<header>
			<div class="enter">
				<input class="enter__log_in" type="submit" value="Log in">
				<input class="enter__sign_up" type="submit" value="Sign up">
			</div>
			<div class="logo">URLAUBSGLÜCK</div>
			<hgroup>
				<h1 class="title">share your holiday dreams</h1>
				<h2 class="subtitle">And find the perfect partner to fullfill it</h2>
				<input class="find_partner" type="submit"  value="Find your holiday partner">
			</hgroup>		
		</header>
		<section id="wrapper1">
			<h2 class="how-works">How Urlaubsglück works?</h2>
			<div class="carusel1">
				<ul class="bxslider">
					<li>
						<div class="block-text">
								<span>step 1</span>
								<h1>Sed leo enim, condimentum</h1>
								<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec oncus a leo sit amet facilisis.</p>
				   		</div>
						<picture>
								<!--[if IE 8]><div><img src="image/mobile/slider1M.png" alt="foto"></div> <![endif]-->
							<!--[if !IE 8]>--><source srcset="image/desktop/slider1D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider1T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider1M.png" alt="foto"><!--<![endif]-->
						</picture>
					</li>
					<li>
						<div class="block-text">
							<span>step 2</span>
							<h1>Morbi velit risus</h1>
							<p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
				   		</div>
						<picture>
						<!--[if IE 8]><div><img src="image/mobile/slider2M.png" alt="foto"></div> <![endif]-->
							<!--[if !IE 8]>--><source srcset="image/desktop/slider2D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider2T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider2M.png" alt="foto"><!--<![endif]-->
						</picture>					
					</li>
					<li>
						<div class="block-text">							
						 	<span>step 3</span>
						 	<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec oncus a leo sit amet facilisis.</p>
				   		   </div>
						<picture>
							<!--[if IE 8]><div><img src="image/mobile/slider3M.png" alt="foto"></div> <![endif]-->
						<!--[if !IE 8]>--><source srcset="image/desktop/slider3D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider3T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider3M.png" alt="foto"><!--<![endif]-->
						</picture>
					</li>
				</ul>			
				<ul class="bxslider">					
					<li>
						<div class="block-text">
							<span>step 2</span>
							<h1>Morbi velit risus</h1>
							<p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
				   		</div>
						<picture>
							<!--[if IE 8]><div><img src="image/mobile/slider2M.png" alt="foto"></div> <![endif]-->
							<!--[if !IE 8]>--><source srcset="image/desktop/slider2D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider2T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider2M.png" alt="foto"><!--<![endif]-->
						</picture>
					</li>
					<li>
						<div class="block-text">
							<span>step 3</span>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec oncus a leo sit amet facilisis.</p>
				   		</div>
				   		
						<picture>
							<!--[if IE 8]><div><img src="image/mobile/slider3M.png" alt="foto"></div> <![endif]-->
							<!--[if !IE 8]>--><source srcset="image/desktop/slider3D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider3T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider3M.png" alt="foto"><!--<![endif]-->
						</picture>
					</li>
					<li>
						<div class="block-text">
							<span>step 1</span>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec oncus a leo sit amet facilisis.</p>
				   		</div>
						<picture>
							<!--[if IE 8]><div><img src="image/mobile/slider1M.png" alt="foto"></div> <![endif]-->
							<!--[if !IE 8]>--><source srcset="image/desktop/slider1D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider1T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider1M.png" alt="foto"><!--<![endif]-->
						</picture>
					</li>					
				</ul>
				<ul class="bxslider">
					<li>
						<div class="block-text">
							<span>step 3</span>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec oncus a leo sit amet facilisis.</p>
				   		</div>
						<picture>
							<!--[if IE 8]><div><img src="image/mobile/slider3M.png" alt="foto"></div> <![endif]-->
						<!--[if !IE 8]>--><source srcset="image/desktop/slider3D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider3T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider3M.png" alt="foto"><!--<![endif]-->
						</picture>
					</li>
					<li>
						<div class="block-text">
							<span>step 1</span>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec oncus a leo sit amet facilisis.</p>
				   		</div>
						<picture>
							<!--[if IE 8]><div><img src="image/mobile/slider1M.png" alt="foto"></div> <![endif]-->
							<!--[if !IE 8]>--><source srcset="image/desktop/slider1D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider1T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider1M.png" alt="foto"><!--<![endif]-->
						</picture>
					</li>
					<li>
						<div class="block-text">
							<span>step 2</span>
							<h1>Morbi velit risus</h1>
							<p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
				   		   </div>
						<picture>
							<!--[if IE 8]><div><img src="image/mobile/slider2M.png" alt="foto"></div> <![endif]-->
						<!--[if !IE 8]>--><source srcset="image/desktop/slider2D.png" media="(min-width: 1440px)">
							<source srcset="image/tabletka/slider2T.png" media="(min-width: 768px)">
							<img srcset="image/mobile/slider2M.png" alt="foto"><!--<![endif]-->
						</picture>					
					</li>					
				</ul>				
			</div>
		</section>		
		<section  id="wrapper2">
			<h2 class="meet-partners">Meet a partner for your best holiday</h2>
			<div class="persons">
				<div class="partner partner--sprite1">
					<img class="partner__foto"src="image/foto_bradley_man.png" alt="foto">
					<p class="partner__name">Bradley Hunter</p>
					<span class="partner__about">Based in Chicago. I love playing tennis and loud music.</span>
				</div>
				<div class="partner partner--sprite2">
					<img class="partner__foto"src="image/foto_lucas.png" alt="foto">
					<p class="partner__name">Lucas Marsha</p>
					<span class="partner__about">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</span>
				</div>
				<div class="partner partner--sprite3">
					<img class="partner__foto"src="image/fotoheater.png" alt="foto">
					<p class="partner__name">Heather Walker</p>
					<span class="partner__about">I'm a happy person that loves cats and climbing on mountains.</span>
				</div>
				<div class="partner partner--sprite4">
					<img class="partner__foto--4"src="image/foto_bradley_girl.png" alt="foto">
					<p class="partner__name">Bradley Hunter</p>
					<span class="partner__about">Based in Chicago. I love playing tennis and loud music.</span>
				</div>				
			</div>
			<button class="other-button">See other partners</button>
		</section>
		<section  id="wrapper3">
			<h2 class="discover">Discover holiday activity ideas</h2>
			<div class="plitka">
		</section>
		<section  id="wrapper4">
			<hgroup>
				<h2 class="discover2">Discover holiday activity ideas</h2>
			    <h3 class="interests">Hi! What are your holiday interests?</h3>
			<hgroup>
			<div class="search">
				<input class="search__poletext" type="text"  placeholder="Enter your interests">
				<input id="search__poleotpravka" type="submit"  value="Search partners">
			</div>
		</section>
		<nav>
			<div class="logo-nav">URLAUBSGLÜCK</div>
			<div class="menu">
				<h2 class="contacts">Company</h2>
				<ul class="aboutus">
					<li class="aboutus__cell"><a href="#">About</a></li>
					<li class="aboutus__cell"><a href="">Contacts</a></li>
					<li class="aboutus__cell"><a href="">Press</a></li>
					<li class="aboutus__cell"><a href="">Blog</a></li>
				</ul>
			</div>
			<h2 class="Partnerstitle">Partners</h2>
			<div class="desighn_by"><img src="image/areto.png" alt="image"></div>
		</nav>
		</section>
		<hr>	
	
	</body>
</html>