
.check{margin: 5px;
}
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; 
  padding: 0 0 0 30px;
}
.checkbox:not(checked) + label:after {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 92px;
  width: 17px;
  height: 17px;
  border: 1px solid grey;
  
}

.checkbox:checked + label:before {
   content: '\2713';
  position: absolute;
  top: 0px;
  left:92px;
  width: 17px;
  height: 17px;
  border: 1px solid grey;
}