<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>lesson 13-14</title>
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src=".//js/template.js"></script>
		<script src=".//js/lesson13-14.js"></script>
</head>
<body>
	<script type="text/template" id="blok">
	
<% for (var i = 0; i < data.length; i++) { %>
      <h1><%= data[i].question %></h1>
          <% var answersArray = data[i].answer; %>
      <% for (var key in answersArray) { %>
           <%  var answer = answersArray[key]; %>
           <%  var id = 'id' + '-' + key; %>
         <input type="checkbox" id = <%= id%>/>
          <label for=  <%= id %>> <%= answer %></label>
        <% } %> 
   <% } %>

	</script>
	<input type="submit" value="Проверить результаты теста" id="button">
</body>
</html>