* {
  margin: 0;
  padding: 0; }

body {
  background: url(../image/mobile/backgroundM.png) 0 0 no-repeat; }

@media (min-width: 768px) {
  body {
    background: url(../image/tabletka/backgroundT.png) 0 0 no-repeat; } }
@media (min-width: 1440px) {
  body {
    background: url(../image/desktop/backgroundD.png) 0 0 no-repeat; } }
.content {
  width: 320px;
  overflow: hidden; }

@media (min-width: 768px) {
  .content {
    width: 768px;
    /*background-color: yellow;*/ } }
@media (min-width: 1440px) {
  .content {
    width: 1440px;
    /*background-color: yellow;*/ } }
header {
  height: 540px; }

@media (min-width: 768px) {
  header {
    height: 700px; } }
@media (min-width: 1440px) {
  header {
    height: 670px;
    /*background-color: yellow;*/ } }
.enter {
  display: block;
  margin-bottom: 115px; }

@media (min-width: 768px) {
  .enter {
    float: right;
    overflow: hidden;
    display: inline-block; } }
.enter__log_in, .enter__sign_up {
  border: none;
  background: transparent;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  margin: 20px 0 0 58px;
  width: 90px;
  line-height: 28px; }

@media (min-width: 768px) {
  .enter__log_in, .enter__sign_up {
    margin: 40px 0 0 0px;
    width: 73px;
    overflow: hidden; } }
.enter__sign_up {
  border-radius: 50px;
  border: 2px solid #ffffff;
  margin: 21px 0 0 -6px;
  width: 90px; }

@media (min-width: 768px) {
  .enter__sign_up {
    margin: 39px 50px 0 0px; } }
.logo, .logo-nav {
  display: block;
  width: 200px;
  margin: 0 0 27px 77px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px; }

@media (min-width: 768px) {
  .logo, .logo-nav {
    float: left;
    display: inline-block;
    margin: 46px 0 144px 49px;
    width: 450px; } }
.title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 7px 10px; }

@media (min-width: 768px) {
  .title {
    margin: 0 0 22px 132px;
    font-size: 52px;
    width: 502px; } }
.subtitle {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 215px;
  margin: 0 0 13px 48px; }

@media (min-width: 768px) {
  .subtitle {
    font-size: 24px;
    width: 403px;
    margin: 0 0 32px 176px; } }
.find_partner {
  color: #ffffff;
  border: transparent;
  border-radius: 50px;
  background: #ff4e50;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  width: 278px;
  margin: 0 0 0 20px; }

@media (min-width: 768px) {
  .find_partner {
    margin: 0 0 0 269px;
    width: 225px; } }
#wrapper1 {
  height: 780px; }

.how-works, .meet-partners, .discover, .discover2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
  margin: 34px 0 0 0px;
  text-align: center; }

@media (min-width: 768px) {
  .how-works, .meet-partners, .discover, .discover2 {
    margin: 94px 0 0 0px; } }
.carusel1 {
  width: 310px;
  height: 250px; }

@media (min-width: 768px) {
  .carusel1 {
    width: 750px; } }
@media (min-width: 768px) {
  .featured {
    display: inline-block; } }
#wrapper2 {
  height: 1120px;
  text-align: center; }

.persons {
  margin: auto; }

@media (min-width: 768px) {
  .persons {
    width: 500px; } }
.partner {
  display: block;
  width: 215px;
  height: auto;
  text-align: center;
  margin: 0px 0 23px 19px; }

@media (min-width: 768px) {
  .partner {
    float: left; } }
.meet-partners {
  width: 264px;
  margin: 34px 0 14px 6px; }

.partner__name, .contacts, .Partnerstitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  margin: 11px 0 9px 11px; }

.partner__about, nav ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #333333; }

#wrapper3 {
  height: 1000px; }

#wrapper4 {
  height: 234px; }

nav {
  height: 200px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-item {
  width: 300px;
  height: 120px;
  background-color: red;
  margin: 5px; }

.grid-item--width2 {
  width: 300px;
  height: 120px; }

.other-button {
  width: 280px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #ff4e50;
  border-radius: 50px;
  color: #ff4e50;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px; }

.interests {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 18px; }

@media (min-width: 768px) {
  .interests {
    text-align: center; } }
@media (min-width: 768px) {
  .search {
    text-align: center; } }
.search__poletext {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  width: 280px;
  height: 37px; }

@media (min-width: 768px) {
  .search__poletext {
    display: inline-block; } }
#search__poleotpravka {
  width: 280px;
  height: 40px;
  background-color: #ff4e50;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px; }

@media (min-width: 768px) {
  #search__poleotpravka {
    display: inline-block; } }
.logo-nav {
  color: #ff4e50;
  font-size: 16px;
  margin-bottom: 19px; }

@media (min-width: 768px) {
  .logo-nav {
    display: block;
    float: left; } }
.menu {
  width: 120px; }

@media (min-width: 768px) {
  .menu {
    display: block;
    width: 120px;
    text-align: none;
    float: left; } }
nav {
  margin: auto; }
  nav ul {
    margin-bottom: 12px; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        text-decoration: none; }

@media (min-width: 768px) {
  nav ul {
    margin-bottom: 12px;
    width: 120px; }
    nav ul li {
      display: block;
      width: 100px; }
      nav ul li a {
        display: block; } }
.contacts {
  margin: 0; }

@media (min-width: 768px) {
  .contacts {
    display: inline-block;
    width: 100px; } }
@media (min-width: 768px) {
  .Partnerstitle {
    display: block;
    float: left;
    height: 100px;
    margin-top: 0; } }
.desighn_by {
  margin: 32px 0 0 0;
  display: block;
  float: left; }

@media (min-width: 768px) {
  .desighn_by {
    margin: 0px 0 0 0;
    display: inline-block; } }

/*# sourceMappingURL=style.css.map */
