$color-white:#ffffff;
$color-pink:#ff4e50;
$color-grey:#333333;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

*{margin:0;
  padding:0;
}

body {
    background:url(../image/mobile/backgroundM.png)0 0 no-repeat;
}

@media(min-width:768px) {
body  {
background:url(../image/tabletka/backgroundT.png)0 0 no-repeat;
}}

@media(min-width:1440px) {
body  {
background:url(../image/desktop/backgroundD.png)0 0 no-repeat;
}}


.content{
	width:320px;
  overflow: hidden;
}
@media(min-width:768px){
.content {width: 768px;
  }}
@media(min-width:1440px){
.content {width: 950px;
  margin: 0 0 0 250px;

  }}




header{
	height:540px;
}
@media(min-width:768px){
header {height:700px;
}}
@media(min-width:1440px) {
header {height:700px;
  overflow:hidden;position:relative;
}}



.enter{
  display:block;
  margin-bottom:115px;
}
@media(min-width:768px){
.enter {
  float:right;
  overflow:hidden;
  display:inline-block;
}}
@media(min-width:1440px){
}




.enter__log_in{
  border:none;
  background:transparent;
  color:$color-white;
  font-family: $montserrat;
  font-weight:bold;
  font-size:14px;
  display:inline-block;
  margin: 20px 0 0 58px;
  width: 90px;
  line-height: 28px;
}
@media(min-width:768px) {
.enter__log_in {
  margin: 40px 0 0 0px;
  width: 73px;
  overflow:hidden;
}}
@media(min-width:1440px){
}



.enter__sign_up{
@extend .enter__log_in;
border-radius:50px;
border:2px solid $color-white;
margin: 21px 0 0 -6px;
width: 90px;
}
@media(min-width:768px){
.enter__sign_up {
  margin: 39px 50px 0 0px;
}}
@media(min-width:1440px){
 .enter__sign_up{ margin: 39px 10px 0 0px;
 overflow:hidden; position:relative;}
}



.logo{
  display:block;
  width: 200px;
  margin:0 0 27px 77px;
  color:$color-white;
  font-family: $montserrat;
  font-weight:bold;
  font-size: 20px; 
}
@media(min-width:768px) {
.logo {
  float:left;
  display:inline-block;
  margin:46px 0 144px 49px;
width: 450px;
}}
@media(min-width:1440px){
 .logo {margin:46px 0 115px 0px;
  width: 320px;}
}


.title{
  color:$color-white;
  font-family: $montserrat;
  font-weight:bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align:center;
  margin:0 0 7px 10px;
}
@media(min-width:768px) {
.title{
  margin:0 0 22px 132px;
  font-size: 52px; 
  width:502px;
}}
@media(min-width:1440px){
.title{  margin:213px 0 22px 222px;
}
}



.subtitle{
  color:$color-white;
  font-family:  $roboto;
  font-weight:lighter;
  font-size:18px;
  text-align:center;
  display:block;
  width:215px;
  margin:0 0 13px 48px;
}
@media(min-width:768px) {
.subtitle{
  font-size:24px;
  width:403px;
  margin:0 0 32px 176px;
}}
@media(min-width:1440px){
  .subtitle{ margin:0 0 32px 256px;}
}



.find_partner{
  color:$color-white;
  border:transparent;
  border-radius:50px;
  background:$color-pink;
   font-family: $montserrat;
  font-weight:bold;
  font-size:14px;
  line-height: 36px;
  width: 278px;
  margin: 0 0 0 20px;
}
@media(min-width:768px){
  .find_partner{
    margin: 0 0 0 269px;
    width: 225px;
}}
@media(min-width:1440px){
 .find_partner{margin: 0 0 0 359px;}
}


#wrapper1{
	height:780px;
	}
@media(min-width:768px) {
#wrapper1{
  height:522px;
}}
@media(min-width:1440px){

}



.how-works{
  font-family: $montserrat;
  font-weight:bold;
  font-size:22px;
  color:$color-grey;
  margin: 34px 0 2px 0px;
  text-align: center;
}
@media(min-width:768px) {
.how-works{
 margin: 94px 0 20px 0px;
}}
@media(min-width:1440px){
}





.carusel1 {
  width:310px;
  height:742px;
    ul{
      height:740px;
      li{
        display:inline-block;
        height: 242px;
      }
  }
}
@media(min-width:768px){
.carusel1 {
  width:768px;
  height:402px;
    ul{
      height:402px;
      li{
        display:inline-block;
        height: 402px;
      }
    }
  }
}
@media(min-width:1440px){
.carusel1 {
 width:950px;
  height:402px;
    ul{
      height:402px; 
      width:940px;
      margin:0 0 0 0;
      li{
        display:inline-block;
        height: 402px;
      }
    }
  }
}

.block-text{
  width:270px;
  background-color:grey;
  height:174px;
    span{
      font-family: $montserrat;
      font-weight:normal;
      font-size:10px;
      text-transform:uppercase;
      color:$color-white;
      display:block;
      width:70px;
      height:20px;
      border-radius:50px;
      background-color:$color-pink;
      text-align:center;}

    h1{
      font-family: $montserrat;
      font-weight:bold;
      font-size:24px;
    color:$color-white;
  }
    p{
      font-family:  $roboto;
      font-weight:lighter;
      font-size:14px;
    color:$color-white;
  }
}

                
                


.featured {img{width:300px;
height:auto;}}

@media(min-width:768px) {
.featured {img{width:237px;
height:auto;}
}}
@media(min-width:1440px){
.featured {img{width:300px;
height:auto;}
}}



#wrapper2{
  height:1091px;
  text-align:center;
}
@media(min-width:768px) {
#wrapper2{
  height:725px;
}}
@media(min-width:1440px) {
#wrapper2{
  height:467px;
}}




.persons{
  margin: auto;
}
@media(min-width:768px) {
.persons{
  width: 580px;
  margin: 0 0 0 127px;
}}
@media(min-width:1440px){
  .persons{width: 950px;
    margin: 0 0 9px -17px;
    overflow: hidden;}
}



.partner{
  display: block;
  width:215px;
  height:auto;
  text-align:center;
  margin:0px 0 23px 19px;
}
@media(min-width:768px) {
.partner{
  float:left;
  margin:0px 25px 23px 19px;
}}
@media(min-width:1440px){
 .partner{   margin:0px 4px 23px 17px;}
}


.meet-partners{
  @extend .how-works;
  width: 264px;
  margin: 34px 0 14px 6px;
}
@media(min-width:768px) {
.meet-partners{
  font-family: $montserrat;
  font-weight:bold;
  font-size:22px;
  color:$color-grey;
  margin: 34px 0 2px 0px;
  text-align: center;
  width: 466px;
  margin: 34px 0 31px 148px;
}
}
@media(min-width:1440px){
.meet-partners{margin: 34px 0 31px 237px;}

}
.partner--sprite1:before{
 content: " ";  
    float:left;  
    position: relative;  
   background: url(../image/sprite.png) 0px 0px  no-repeat;  
    height:38px;  
    width: 40px;
   left:164px; 
   top:77px;   
  bottom:71px;
  right:10px;
  z-index: 2;
   background-position: 0px 0px;
}

.partner--sprite2:before{
 content: " ";  
    float:left;  
    position: relative;  
   background: url(../image/sprite.png) 0px 0px  no-repeat;  
     height: 38px;  
    width: 40px;
   left:150px; 
   top:80px;   
  bottom:71px;
  right:10px;
  z-index: 2;
   background-position: -38px 0px;
}
.partner--sprite3:before{
 content: " ";  
    float:left;  
    position: relative;  
   background: url(../image/sprite.png) 0px 0px  no-repeat;  
    height: 39px;  
    width: 40px;
   left:164px; 
   top:77px;   
  bottom:71px;
  right:10px;
  z-index: 2;
   background-position: -79px 0px;

}
.partner--sprite4:before{
 content: " ";  
    float:left;  
    position: relative;  
   background: url(../image/sprite.png) 0px 0px  no-repeat;  
    height: 40px;  
    width: 42px;
   left:164px; 
   top:77px;   
  bottom:71px;
  right:10px;
  z-index: 2;
   background-position: -119px 0px;
}
 .partner--sprite1:hover:before{
    background-position: 0px -43px;
} 

.partner--sprite2:hover:before{
    background-position: -38px -43px;
}


.partner--sprite3:hover:before{
    background-position: -79px -42px;
}
.partner--sprite4:hover:before{
    background-position: -119px -43px;
}

.partner__name{
  font-family: $montserrat;
  font-weight:bold;
  font-size:14px;
   color:$color-grey;
   margin: 11px 0 9px 11px;
  }

.partner__about{
  font-family:  $roboto;
  font-weight:lighter;
  font-size:14px;
  color:$color-grey;
}


.other-button{
  width:280px;
  height:40px;
  background-color:transparent;
  border:2px solid $color-pink;
  border-radius:50px;
  color:$color-pink;
  font-family: $montserrat;
  font-weight:bold;
  font-size:14px;
}
@media(min-width:768px){
  .other-button{
     width:192px;
     margin: 36px 0 0 0;
  }
}
@media(min-width:1440px){
   .other-button{
     width:195px;
     margin: auto;
          display: block;
  }
}




#wrapper3{
height:1000px;
border:1px solid black;	
}
@media(min-width:768px) {
#wrapper3{height:1126px;}}
@media(min-width:1440px){
  #wrapper3{width:950px}
}



#wrapper4{
  height:234px;
  border-bottom: 2px solid $color-pink; 
}
@media(min-width:768px) {
#wrapper4{
  height:259px;
}}

@media(min-width:1440px){
 #wrapper4{width:950px}
}


nav{
	height:200px;
}
@media(min-width:768px) {
nav{
 padding:37px 0 0 0; 
}}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-item {
  width: 300px;
  height: 120px;
    margin:5px;
}
.grid-item--width2 {
  width: 300px;
  height: 120px;
}

@media(min-width:768px){
.grid-item {
  width: 236px;
  height: 309px;
    margin:9px 5px 9px 10px;
}}


@media(min-width:768px){
.grid-item--width2 {
  width: 487px;
  height: 309px;
    margin:9px 5px 9px 10px;
}}



@media(min-width:1440px){
.grid-item {
  width: 300px;
  height: 309px;
    margin:9px 5px 9px 10px;
}}


@media(min-width:1440px){
.grid-item--width2 {
  width: 610px;
  height: 309px;
    margin:9px 5px 9px 10px;
}}



.grid-item__text{color:red;
}




.discover{
  @extend .how-works;
  margin-top: 0;
}


.discover2{
  @extend .discover;
  margin: 0 0 9px 0;
}
@media(min-width:768px) {
.discover2{ margin: 0 0 29px 0;}
}
@media(min-width:1440px){
}



.interests{
  font-family:$roboto;
  font-weight:lighter;
  font-size:18px;
  margin: 0 0 17px 20px;
}
@media(min-width:768px){
.interests{
  text-align:center;
  margin: 0 0 37px 0;
}}
@media(min-width:1440px){
}




.search{
  text-align:center;
  width:310px;
  margin: 0 0 0 18px;
}
@media(min-width:768px) {
.search{text-align:center;
  margin: 0 0 0 5px;
  width:760px;
}}
@media(min-width:1440px){
}



.search__poletext{
  display:block;
  font-family:$roboto;
  font-weight:lighter;
  font-size:14px;
  width:280px;
  height:37px;
  margin: 0 0 11px 0;
}
@media(min-width:768px) {
.search__poletext{
  display:inline-block;
  width:243px;
}}
@media(min-width:1440px){
  .search__poletext{
  margin: 0 0 0 174px;
}}




#search__poleotpravka{
  width:280px;
  height:40px;
  background-color:$color-pink;
  border:none;
  border-radius:50px;
  color:$color-white;
  display:block;
  font-family: $montserrat;
  font-weight:bold;
  font-size:14px;
}
@media(min-width:768px) {
#search__poleotpravka{
  display:inline-block;
  width:163px;
}}
@media(min-width:1440px){
}




.logo-nav{
  @extend .logo;
  color:$color-pink;
  font-size: 16px;
  margin:15px 0 11px 90px;
}
@media(min-width:768px){
.logo-nav{
  display:block;
  float:left;
  width:200px;
  margin:0 0 0 40px;
}}
@media(min-width:1440px){
.logo-nav{ 
  margin:0 0 0 0;
}}



.menu{
  width:320px;
  text-align:center;
  margin:0 0 0 0; 
}
@media(min-width:768px){
.menu{
  display:block;
  width:120px;
  text-align:left;
  float:left;
  margin:0 0 0 25px; 
}}
@media(min-width:1440px){
}




nav{margin:auto;
    ul{margin-bottom:12px;
    li{display:inline-block;
      width: 51px;
      a{
        @extend .partner__about;
        text-decoration:none}
  }
}
}

@media(min-width:768px) {
nav{  
  ul{
    margin-bottom:12px;
    width: 120px;
    li{
      display:block;width:100px; 
      a{
        display:block;
        line-height: 23px;
     }
  }
}
}
}
@media(min-width:1440px){
}


.contacts{
  margin:0 0 0 0;
  @extend .partner__name;
}
@media(min-width:768px) {
.contacts{
  display:inline-block;
  width:100px;
  margin: 0 0 11px 0;
}}
@media(min-width:1440px){
}



.Partnerstitle{
  @extend .partner__name;
  margin:0 0 0 128px; 
}
@media(min-width:768px) {
.Partnerstitle{
 display:block;
 float:left;
 height:100px;
 margin:0 122px 0 51px; 
}}
@media(min-width:1440px){
}




.desighn_by{
  margin:32px 0 0 105px;
  display:block;
  float:left;
}
@media(min-width:768px) {
.desighn_by{
  margin:4px 0 0 0;
  display:inline-block;
}
}
@media(min-width:1440px){
.desighn_by{
  float:right; 
}

}

