$color-white:#ffffff;
$color-pink:#ff4e50;
$color-grey:#333333;

*{margin:0;
  padding:0;
}
body {
  font-family: sans-serif;
  background:url(../image/mobile/backgroundM.png)0 0 no-repeat;
}
@media(min-width:768px) {
body  {
background:url(../image/tabletka/backgroundT.png)0 0 no-repeat;
}}

@media(min-width:1440px) {
body  {
background:url(../image/desktop/backgroundD.png)0 0 no-repeat;
}}

.content{
	width:320px;
}
@media(min-width:768px) {
.content {width: 768px;
/*background-color: yellow;*/
}}
@media(min-width:1440px) {
.content {width: 1440px;
/*background-color: yellow;*/
}}




header{
	height:540px;

}
@media(min-width:768px) {
header {height:700px;
/*background-color: yellow;*/
}}
@media(min-width:1440px) {
header {height:670px;
/*background-color: yellow;*/
}}
.logo{display:block;
  width: 134px;
margin:auto;
}
.enter{display:block;
margin:auto;width:93px;
}
.enter__log_in{border:none;
background:transparent;
color:$color-white;}
.enter__sign_up{border-radius:50px;
border:2px solid $color-white;
background:transparent;
color:$color-white;}

.logo{
  color:$color-white;
}
.title{color:$color-white;}
.subtitle{color:$color-white;}
.find_partner{color:$color-white;
border:transparent;
border-radius:50px;
background:$color-pink;}


#wrapper1{
	height:820px;
	}
#wrapper2{
	height:1120px;
	}
#wrapper3{
	height:1000px;
}
#wrapper4{
	height:234px;
}
nav{
	height:200px;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.grid-item { width: 300px;
  height: 120px; background-color:red; margin:5px}
.grid-item--width2 { width: 300px;
  height: 120px;}


.carusel1{
  width:310px;
height:250px;
}

.partner{
  display: block;
width:210px;
height:230px;
background-color:blue;
margin:auto;
text-align:center;
margin-bottom:2px;
}

#search__poleotpravka{width:280px;
height:40px;
background-color:transparent;
border:2px solid $color-pink;;
border-radius:50px;
color:$color-pink;}