

  *{
  	margin:0;
  	padding: 0;
  }

  .menu{
    	height: 500px;
    }
  a {
  	display: block;
  	text-decoration: none;
  	font-size: 20px;
  	line-height: 30px;
  }
  
}
  li:hover {color:red}
.menu li {
	display: inline-block;
	background-color: #e69a02;
	width: 150px;

}
.submenu{position: absolute;
	top:28px;
	left: 1px;
	z-index: 1;
	/*display: none;*/
}

.submenu .submenu-activ {/*background-color: #ffd520;*/}
.submenu li {
	display: block;
	width: 150px;
border-bottom: 1px solid red;
}
.sub2 .sub2-active{/*background-color:#e06b01;*/}
.sub2{position: absolute;
	top:60px;
	left: 150px;
	z-index: 2
}

.sub2 li {
	display: block;
	/*background-color: #e06b01;*/
			}
.sub3 {
	position: absolute;
	top:60px;
	left: 150px;
	z-index: 3;
}
.sub3 li {
	display: block;
	width: 150px;
	/*background-color: #d03b06;*/
}
.s {
	width: 150px;
	
}
.s:after {
	content: '';
	position: absolute;
	background: url(../img/triangle.png) no-repeat;
	width: 10px;
	height:10px;
	top:13px;
	left: 124px;
}

.submenu-activ:after {
	content: '';
	position: absolute;
	background: url(../img/triangleright.png) no-repeat;
	width: 10px;
	height:10px;
	top:71px;
	left: 124px;
}
.sub2-active:after {
	content: '';
	position: absolute;
	background: url(../img/triangleright.png) no-repeat;
	width: 10px;
	height:10px;
	top:73px;
	left: 124px;
};